<footer class="lp-footer">
        <div class="d-flex">
            <div class="mr-auto">
                <span class="copyright-text">@DateTime.Now.Year © LeptonTheme by <a href="http://www.volosoft.com" target="_blank">Volosoft</a></span>
            </div>
        </div>
</footer>
