@page
@using Microsoft.Extensions.Localization
@using FS.FormManagement.Localization
@model FS.FormManagement.Web.Pages.FormManagement.IndexModel
@inject IStringLocalizer<FormManagementResource> L
@{
}
<h1>FormManagement</h1>
<p>@L["SamplePageMessage"]</p>
