@page
@using Microsoft.Extensions.Localization
@using FS.Abp.SyncTable.Localization
@using FS.Abp.SyncTable.Web.Pages.SyncTable
@model FS.Abp.SyncTable.Web.Pages.SyncTable.IndexModel
@inject IStringLocalizer<SyncTableResource> L

@{
}
<h1>SyncTable</h1>
<p>@L["SamplePageMessage"]</p>
