<fs-tw-cms-kit-entity-base
  [list]="list"
  [service]="service"
  title="CmsKit::Pages"
></fs-tw-cms-kit-entity-base>

<fs-tw-modal
  title="CmsKit::NewPages"
  *ngIf="createModalVisible"
  [(visible)]="createModalVisible"
  (save)="create($event)"
>
  <fs-tw-modal-info-tab
    title='CmsKit::Pages'
    [form]="addForm"
  ></fs-tw-modal-info-tab>
</fs-tw-modal>

<fs-tw-modal
  type="AbpUi::Edit"
  *ngIf="editModalVisible"
  [(visible)]="editModalVisible"
  (save)="edit($event)"
>
  <fs-tw-modal-info-tab
    title='CmsKit:Pages'
    [form]="editForm"
    [selectedRecord]="editSelectedRecord"
  ></fs-tw-modal-info-tab>
</fs-tw-modal>
