@page
@using Microsoft.Extensions.Localization
@using FS.Printer.Localization
@using FS.Printer.Web.Pages.Printer
@model FS.Printer.Web.Pages.Printer.IndexModel
@inject IStringLocalizer<PrinterResource> L

@{
}
<h1>Printer</h1>
<p>@L["SamplePageMessage"]</p>
