@page "/MultiLinguals"
@using Microsoft.Extensions.Localization
@using global::FS.Entity.MultiLinguals.Localization
@inject IStringLocalizer<MultiLingualsResource> L
@{
}
<h1>MultiLinguals</h1>
<p>@L["SamplePageMessage"]</p>