<div class="demo-container">
    <div class="demo-content">
        <div class="demo-boxes">
            <div class="tab-pane fade active show" id="T1b9324d04cae40ec9b4a95cace0fed0e_1" role="tabpanel" aria-labelledby="T1b9324d04cae40ec9b4a95cace0fed0e_1-tab">
                <h4>Theme Settings</h4>
                <form id="LeptonThemeSettingsForm" novalidate="novalidate">
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <div class="form-group" id="lepton-demo-styles">
                                    <div class="row">
                                        <div class="col"> 
                                            <div class="demo-styles-container">
                                                <div class="demo-style demo-style-1 selected-style" style-val="1" style-id="demo-style-1">
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <span>Style 1</span>
                                                        </div>
                                                        <div class="col">
                                                            <div class="demo-layout">
                                                                <div class="demo-color-1" style="background: #171d35;"></div>
                                                                <div class="demo-color-3" style="background: #fff;"></div>
                                                                <div class="demo-color-2" style="background: #5472d4;"></div>
                                                                <div class="demo-color-4" style="background: #50a1b1;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"> 
                                            <div class="demo-styles-container">
                                                <div class="demo-style demo-style-2 selected-style" style-val="2" style-id="demo-style-2">
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <span>Style 2</span>
                                                        </div>
                                                        <div class="col">
                                                            <div class="demo-layout">
                                                                <div class="demo-color-1" style="background: #240027;"></div>
                                                                <div class="demo-color-3" style="background: #eeeaef;"></div>
                                                                <div class="demo-color-2" style="background: #240027;"></div>
                                                                <div class="demo-color-4" style="background: #e90052;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"> 
                                            <div class="demo-styles-container">
                                                <div class="demo-style demo-style-3 selected-style" style-val="3" style-id="demo-style-3">
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <span>Style 3</span>
                                                        </div>
                                                        <div class="col">
                                                            <div class="demo-layout">
                                                                <div class="demo-color-1" style="background: #111;"></div>
                                                                <div class="demo-color-3" style="background: #333;"></div>
                                                                <div class="demo-color-2" style="background: #3a6af0;"></div>
                                                                <div class="demo-color-4" style="background: #ff6384;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"> 
                                            <div class="demo-styles-container">
                                                <div class="demo-style demo-style-4 selected-style" style-val="4" style-id="demo-style-4">
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <span>Style 4</span>
                                                        </div>
                                                        <div class="col">
                                                            <div class="demo-layout">
                                                                <div class="demo-color-1" style="background: #2c3146;"></div>
                                                                <div class="demo-color-3" style="background: #24293e;"></div>
                                                                <div class="demo-color-2" style="background: #3a6af0;"></div>
                                                                <div class="demo-color-4" style="background: #29cabf;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"> 
                                            <div class="demo-styles-container">
                                                <div class="demo-style demo-style-5 selected-style" style-val="5" style-id="demo-style-5">
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <span>Style 5</span>
                                                        </div>
                                                        <div class="col">
                                                            <div class="demo-layout">
                                                                <div class="demo-color-1" style="background: #ffffff;"></div>
                                                                <div class="demo-color-3" style="background: #eae3d9;"></div>
                                                                <div class="demo-color-2" style="background: #113059;"></div>
                                                                <div class="demo-color-4" style="background: #d29b5d;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col"> 
                                            <div class="demo-styles-container">
                                                <div class="demo-style demo-style-6 selected-style" style-val="6" style-id="demo-style-6">
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <span>Style 6</span>
                                                        </div>
                                                        <div class="col">
                                                            <div class="demo-layout">
                                                                <div class="demo-color-1" style="background: #7b1fa2;"></div>
                                                                <div class="demo-color-3" style="background: #fff;"></div>
                                                                <div class="demo-color-2" style="background: #9C27B0;"></div>
                                                                <div class="demo-color-4" style="background: #009688;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Style" data-valmsg-replace="true"></span>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="MenuPlacement">Menu placement</label>
                                            <select class="custom-select form-control valid" data-val="true" data-val-required="The Menu placement field is required." id="MenuPlacement" name="MenuPlacement" aria-describedby="MenuPlacement-error" aria-invalid="false">
                                                <option value="0">Left</option>
                                                <option selected="selected" value="1">Top</option>
                                            </select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="MenuPlacement" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div id="MenuStatusGroup" style="">
                                            <div class="form-group">
                                                <label for="MenuStatus">Menu status</label>
                                                <select class="custom-select form-control" data-val="true" data-val-required="The Menu status field is required." id="MenuStatus" name="MenuStatus">
                                                    <option selected="selected" value="0">Always opened</option>
                                                    <option value="1">Open on hover</option>
                                                </select>

                                                <span class="text-danger field-validation-valid" data-valmsg-for="MenuStatus" data-valmsg-replace="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-checkbox custom-control mb-2"><input type="checkbox" checked="checked" data-val="true" data-val-required="The Boxed layout field is required." id="BoxedLayout" name="BoxedLayout" value="true" class="custom-control-input "><label class="custom-control-label" for="BoxedLayout">Boxed layout</label></div>
                            </div>
                        </div>
                    </div>
                    <input name="BoxedLayout" type="hidden" value="false">
                </form>
            </div>
        </div>
    </div>
    <div class="demo-toggler">
        <i class="fas fa-cog"></i>
        <i class="fas fa-times"></i>
    </div>
</div>
