@page
@using Microsoft.Extensions.Localization
@using FS.PrinterManagement.Localization
@model FS.PrinterManagement.Web.Pages.PrinterManagement.IndexModel
@inject IStringLocalizer<PrinterManagementResource> L
@{
}
<h1>PrinterManagement</h1>
<p>@L["SamplePageMessage"]</p>
