@page "/AuditLogging"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.AuditLogging.Localization
@inject IStringLocalizer<AuditLoggingResource> L
@{
}
<h1>AuditLogging</h1>
<p>@L["SamplePageMessage"]</p>