@page "/Authentication"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.Authentication.Localization
@inject IStringLocalizer<AuthenticationResource> L
@{
}
<h1>Authentication</h1>
<p>@L["SamplePageMessage"]</p>