@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.LeptonTheme.Management
@using Volo.Abp.LeptonTheme.Management.Localization
@using Volo.Abp.LeptonTheme.Management.Areas.LeptonThemeManagement.Models
@inject IHtmlLocalizer<LeptonThemeManagementResource> L
@model LeptonThemeSettingsViewModel

<form id="LeptonThemeSettingsForm">
    <abp-row>
        <abp-column size-md="_12">
            <div>
                <abp-select asp-for="Style" />
                <abp-select asp-for="MenuPlacement" />
                <div id="MenuStatusGroup" style="@(Model.MenuPlacement == MenuPlacement.Top? "display: none;":"")">
                    <abp-select asp-for="MenuStatus" />
                </div>
                <abp-input asp-for="BoxedLayout" />
            </div>
            <hr class="my-4" />
            <div>
                <abp-button button-type="Primary" type="submit"><i class="fa fa-save"></i> @L["Save"]</abp-button>
            </div>
        </abp-column>
    </abp-row>
</form>