<fs-tw-cms-kit-entity-base
  [list]="list"
  [service]="service"
  title="CmsKit::Blogs"
></fs-tw-cms-kit-entity-base>

<fs-tw-modal
  title="AbpUi::Edit"
  *ngIf="createModalVisible"
  [(visible)]="createModalVisible"
  (save)="create($event)"
>
  <fs-tw-modal-info-tab title="CmsKit::Blog" [form]="addForm"></fs-tw-modal-info-tab>
</fs-tw-modal>

<fs-tw-modal
  title="AbpUi::Edit"
  *ngIf="editModalVisible"
  [(visible)]="editModalVisible"
  (save)="edit($event)"
>
  <fs-tw-modal-info-tab
    title="CmsKit::Blogs"
    [form]="editForm"
    [selectedRecord]="editSelectedRecord"
  ></fs-tw-modal-info-tab>

  <fs-tw-cms-kit-modal-blog-feature-tab
    [blogFeatures]="editBlogFeatures"
    [form]="editBlogFeaturesForm"
  ></fs-tw-cms-kit-modal-blog-feature-tab>
</fs-tw-modal>
