/**
 * 所有图标来自
 * - http://www.iconfont.cn/collections/detail?spm=a313x.7781069.0.da5a778a4&cid=6496
 * - http://www.iconfont.cn/collections/detail?spm=a313x.7781069.0.da5a778a4&cid=6490
 * - http://www.iconfont.cn/collections/detail?spm=a313x.7781069.0.da5a778a4&cid=6502
 */

@font-face {
  font-family: 'iconfont'; /* project id 930726 */
  src: url('//at.alicdn.com/t/font_930726_emf8smrauj9.eot');
  src: url('//at.alicdn.com/t/font_930726_emf8smrauj9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_930726_emf8smrauj9.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_930726_emf8smrauj9.woff') format('woff'),
    url('//at.alicdn.com/t/font_930726_emf8smrauj9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_930726_emf8smrauj9.svg#iconfont') format('svg');
}

.iconfont {
  font-size: 16px;
  /* stylelint-disable font-family-no-missing-generic-family-keyword */
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dpc::before {
  content: '\e713';
}

.icon-website::before {
  content: '\e606';
}

.icon-ads::before {
  content: '\e722';
}

.icon-odps::before {
  content: '\e727';
}

.icon-ram::before {
  content: '\e745';
}

.icon-iot::before {
  content: '\e74a';
}

.icon-sls::before {
  content: '\e74d';
}

.icon-market::before {
  content: '\e66f';
}

.icon-cdn::before {
  content: '\e86a';
}

.icon-domain::before {
  content: '\e781';
}

.icon-cas::before {
  content: '\e88a';
}

.icon-afs::before {
  content: '\e88b';
}

.icon-aqs::before {
  content: '\e88c';
}

.icon-hsm::before {
  content: '\e88f';
}

.icon-sas::before {
  content: '\e892';
}

.icon-mobsec::before {
  content: '\e893';
}

.icon-waf::before {
  content: '\e894';
}

.icon-yundun::before {
  content: '\e895';
}

.icon-sppc::before {
  content: '\e896';
}

.icon-ddos::before {
  content: '\e89a';
}

.icon-cps::before {
  content: '\e8a0';
}

.icon-ews::before {
  content: '\e8a1';
}

.icon-batchcompute::before {
  content: '\e8a4';
}

.icon-dns::before {
  content: '\e8a7';
}

.icon-rds::before {
  content: '\e8a8';
}

.icon-sms::before {
  content: '\e8a9';
}

.icon-ecs::before {
  content: '\e8aa';
}

.icon-edas::before {
  content: '\e8ab';
}

.icon-ess::before {
  content: '\e8ac';
}

.icon-ocs::before {
  content: '\e8ae';
}

.icon-mns::before {
  content: '\e8af';
}

.icon-dds::before {
  content: '\e8b0';
}

.icon-mq::before {
  content: '\e8b1';
}

.icon-mts::before {
  content: '\e8b2';
}

.icon-oss::before {
  content: '\e8b3';
}

.icon-pts::before {
  content: '\e8b4';
}

.icon-ots::before {
  content: '\e8b5';
}

.icon-kvstore::before {
  content: '\e8b6';
}

.icon-slb::before {
  content: '\e8b7';
}

.icon-vpc::before {
  content: '\e8b8';
}

.icon-cms::before {
  content: '\e8b9';
}

.icon-mail::before {
  content: '\e6d3';
}

.icon-help::before {
  content: '\e616';
}

.icon-user::before {
  content: '\e82f';
}

.icon-finance::before {
  content: '\e60f';
}
