[submodule "abp/abp"]
	path = abp/abp
url=https://github.com/abpframework/abp.git
	branch = develop
[submodule "abp/abp-samples"]
	path = abp/abp-samples
	url = https://github.com/abpframework/abp-samples.git
[submodule "framework"]
	path = framework
	url = http://bitbucket.furthersoftware.com.tw/scm/fram/framework.git
[submodule "tools/entitydeveloper"]
	path = tools/entitydeveloper
	url = http://bitbucket.furthersoftware.com.tw/scm/tool/entitydeveloper.git
[submodule "projects/FS.Abp"]
	path = projects/FS.Abp
	url = https://github.com/fs-tw/FS.Abp.git
	branch = develop
[submodule "projects/Volo.Abp"]
	path = projects/Volo.Abp
	url = https://github.com/fs-tw/Volo.Abp.git
[submodule "projects/Abp.Trees"]
	path = projects/Abp.Trees
	url = https://github.com/EasyAbp/Abp.Trees.git
