[submodule "abp/abp"]
	path = abp/abp
url=https://github.com/abpframework/abp.git
	branch = develop
[submodule "abp/abp-samples"]
	path = abp/abp-samples
	url = https://github.com/abpframework/abp-samples.git
[submodule "EasyAbp/EShop"]
	path = EasyAbp/EShop
	url = https://github.com/EasyAbp/EShop.git
[submodule "EasyAbp/WeChatManagement"]
	path = EasyAbp/WeChatManagement
	url = https://github.com/EasyAbp/WeChatManagement.git
[submodule "fs/aspnet-core"]
	path = fs/aspnet-core
	url = http://bitbucket.furthersoftware.com.tw/scm/further/fs.git
	branch = develop
[submodule "fs/angular"]
	path = fs/angular
	url = http://bitbucket.furthersoftware.com.tw/scm/further/fs.ng.git
	branch = develop
[submodule "EasyAbp/FileManagement"]
	path = EasyAbp/FileManagement
	url = https://github.com/EasyAbp/FileManagement.git
[submodule "EasyAbp/Abp.DynamicEntity"]
	path = EasyAbp/Abp.DynamicEntity
	url = https://github.com/EasyAbp/Abp.DynamicEntity.git
[submodule "Blazorise"]
	path = Blazorise
	url = https://github.com/stsrki/Blazorise.git
[submodule "framework"]
	path = framework
	url = http://bitbucket.furthersoftware.com.tw/scm/fram/framework.git
[submodule "tools/entitydeveloper"]
	path = tools/entitydeveloper
	url = http://bitbucket.furthersoftware.com.tw/scm/tool/entitydeveloper.git
