[submodule "tools/entitydeveloper"]
	path = tools/entitydeveloper
	url = http://bitbucket.furthersoftware.com.tw/scm/tool/entitydeveloper.git
[submodule "projects/FS.Abp"]
	path = projects/FS.Abp
	url = https://github.com/fs-tw/FS.Abp.git
	branch = develop
[submodule "projects/Volo.Abp"]
	path = projects/Volo.Abp
	url = https://github.com/fs-tw/Volo.Abp.git
[submodule "projects/Abp.Trees"]
	path = projects/Abp.Trees
	url = https://github.com/EasyAbp/Abp.Trees.git
[submodule "tools/Templates"]
	path = tools/Templates
	url = http://bitbucket.furthersoftware.com.tw/scm/tool/templates.git
[submodule "angular/libs/theme-alain"]
	path = angular/libs/theme-alain
	url = https://github.com/fs-tw/abp.ng.git
	branch = support/theme-alain
