<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Abp" value="https://nuget.abp.io/1e3d986d-3bf7-479c-bd78-adae3679a9d2/v3/index.json" />
    <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/fs-tw/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="yinchang0626" />
      <add key="ClearTextPassword" value="113f918a764a7b9a637676d752b13e4c611ad8e0" />
    </github>
  </packageSourceCredentials>
</configuration>