@page
@using Microsoft.Extensions.Localization
@using FS.Printer.Printing.Localization
@using FS.Printer.Printing.Web.Pages.Printing
@model FS.Printer.Printing.Web.Pages.Printing.IndexModel
@inject IStringLocalizer<PrintingResource> L

@{
}
<h1>Printing</h1>
<p>@L["SamplePageMessage"]</p>
