<!-- banner start -->
<!-- ================ -->
<div class="banner video-background-banner pv-40 dark-translucent-bg hovered">

<div class="video-background-poster" style="background-image: url('./assets/template/videos/video-banner-poster.jpg');"></div>
<video autoplay loop muted style="top:-100%; left: 0;" poster="./assets/template/videos/video-banner-poster.jpg">
    <source src="./assets/template/videos/background-video-banner.mp4" type="video/mp4">
    <source src="./assets/template/videos/background-video-banner.webm" type="video/webm">
</video>

<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="index.html">首頁</a></li>
        <li class="breadcrumb-item active">平台三大好處</li>
    </ol>
    </div>
</div>
<!-- breadcrumb end -->
<div class="container">
    <div class="row justify-content-lg-center">
    <div class="col-lg-8 text-center pv-20">
        <h2 class="title hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">20年專業設計經驗，丞禹是您的最佳選擇</h2>
        <div class="separator hc-element-invisible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
        <p class="text-center hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">丞禹創立於民國90年，由OEM、ODM消費性電子產品起家，而後建立自有品牌 EverGuard 推出緊急求救系統對講、門禁等系統，我們傾聽客戶的需求，並不斷優化產品，希望可以帶給客戶更加完善的系統方案。</p>
    </div>
    </div>
</div>

</div>
<!-- banner end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container border-clear light-gray-bg padding-bottom-clear">

<div class="container">
    <div class="row">

    <!-- main start -->
    <!-- ================ -->
    <div class="main col-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title text-center">平台三大好處</h1>
        <!-- page-title end -->

        <div class="image-box space-top style-4">
        <div class="row grid-space-0">
            <div class="col-lg-6">
            <div class="overlay-container">
                <img src="./assets/images360/platform-1.png" alt="">
                <div class="overlay-to-top">
                <p class="small margin-clear"><em>行動管家 X 線上Check in X 無卡入住</em></p>
                </div>
            </div>
            </div>
            <div class="col-lg-6">
            <div class="body">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>宿易控-線上入住服務 [750X464]</h3>
                <div class="separator-2"></div>
                <p class="margin-clear">成為您24hr行動管家，輕巧便利，旅客利用手機Check in，使用QRcode或密碼隨時可入住，管家輕鬆掌握最新房間情況，降低人力成本，提供旅客最優質的服務，住宿體驗up！回流率up！</p>
                <br>
                <a href="#" class="btn btn-lg btn-gray-transparent btn-sm btn-animated margin-clear">了解更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
            </div>
        </div>
        </div>
        <div class="image-box style-4">
        <div class="row grid-space-0">
            <div class="col-lg-6 order-lg-2">
            <div class="overlay-container">
                <img src="./assets/images360/platform-2.png" alt="">
                <div class="overlay-to-top">
                <p class="small margin-clear"><em>ALL IN ONE自助櫃檯服務機</em></p>
                </div>
            </div>
            </div>
            <div class="col-lg-6 order-lg-1">
            <div class="body text-right">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>宿易寶-自助櫃檯服務機 [750X464]</h3>
                <div class="separator-3"></div>
                <p class="margin-clear">是一台入住退房、付款、語音服務等all in one的機器，機型設計簡約大方，操作簡潔明晰，流程順暢無礙，減少旅客等待的時間，提升旅客的住宿體驗。同時還兼具廣告看板以及其他更多的應用功能，等你來挖寶!</p>
                <br>
                <a href="#" class="btn btn-lg btn-gray-transparent btn-sm btn-animated margin-clear">了解更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
            </div>
        </div>
        </div>
        <div class="image-box style-4">
        <div class="row grid-space-0">
            <div class="col-lg-6">
            <div class="overlay-container">
                <img src="./assets/images360/platform-3.png" alt="">
                <div class="overlay-to-top">
                <p class="small margin-clear"><em>PMS旅宿管理系統後台</em></p>
                </div>
            </div>
            </div>
            <div class="col-lg-6">
            <div class="body">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>宿易網-PMS後台管理系統 [750X464]</h3>
                <div class="separator-2"></div>
                <p class="margin-clear">多功能的後台管理系統，介面簡單好上手，串接訂房網站OTA，遠端掌握最新訂房情況，多間旅宿一鍵切換同步管理，所有數據分析通通一手掌握，擬定出對應營運方針，訂單準確不失誤，管理超EASY。</p>
                <br>
                <a href="#" class="btn btn-lg btn-gray-transparent btn-sm btn-animated margin-clear">了解更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
            </div>
        </div>
        </div>
        <div class="image-box style-4">
        <div class="row grid-space-0">
            <div class="col-lg-6 order-lg-2">
            <div class="overlay-container">
                <img src="./assets/images360/platform-4.png" alt="">
                <div class="overlay-to-top">
                <p class="small margin-clear"><em>房間控制系統</em></p>
                </div>
            </div>
            </div>
            <div class="col-lg-6 order-lg-1">
            <div class="body text-right">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>宿易通-房間控制系統 [750X464]</h3>
                <div class="separator-3"></div>
                <p class="margin-clear">網羅您所有的需求提供完整的規劃方案，整合至中央控制系統，房間控制、安全監控面面俱到。</p>
                <br>
                <a href="#" class="btn btn-lg btn-gray-transparent btn-sm btn-animated margin-clear">了解更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- main end -->

    </div>
</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<section class="pv-40 dark-translucent-bg further-background-img-1">
<div class="container">
    <h2 class="title text-center"><strong>好處 [1920X1280]</strong></h2>
    <div class="separator"></div>
    <br>
    <div class="row">
    <div class="col-lg-6">
        <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon without-bg"><i class="fa fa-support"></i></span>
        <div class="body">
            <h4 class="title">緊急求救系統</h4>
            <p>結合監視系統與警報LINE推播功能，強化安全等級</p>
            <p>應用場域 : 公共場所、學校、私人住宅等</p>
            <div class="separator-3"></div>
        </div>
        </div>
        <br>
        <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon without-bg"><i class="fa fa-support"></i></span>
        <div class="body">
            <h4 class="title">緊急求救對講系統</h4>
            <p>主機全面升級，操作更流暢，緊急+呼叫對講雙效更有效</p>
            <p>應用場域 : 公共場所、各大醫療院所、停管、私人住宅等</p>
            <div class="separator-3"></div>
        </div>
        </div>
        <br>
        <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon without-bg"><i class="fa fa-support"></i></span>
        <div class="body">
            <h4 class="title">IP網路對講系統</h4>
            <p>採IP架構空間限制更少，施工更方便，影像語音功能俱全</p>
            <p>應用場域 : 校園、監所、停管、大樓等</p>
            <div class="separator-3"></div>
        </div>
        </div>
        <br>
    </div>
    <div class="col-lg-6">
        <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
        <div class="body">
            <h4 class="title">IP廣播系統</h4>
            <p>迷你伺服主機輕巧不占空間，訊號穩定音質清晰</p>
            <p>應用場域 : 校園、監所、大樓等</p>
            <div class="separator-2"></div>
        </div>
        </div>
        <br>
        <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
        <div class="body">
            <h4 class="title">門禁系統</h4>
            <p>多元認證方式，智慧安全可以很簡單，何樂不為</p>
            <p>應用場域 : 公共場所、公司行號、旅宿、大樓等</p>
            <div class="separator-2"></div>
        </div>
        </div>
        <br>
        <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
        <div class="body">
            <h4 class="title">免排隊叫號系統</h4>
            <p>搭配手機APP，等待的時間也能靈活運用</p>
            <p>應用場域 : 衛生所、區公所、醫療院所及行政機關等</p>
            <div class="separator-2"></div>
        </div>
        </div>
        <br>
    </div>
    </div>
</div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="section dark-bg pv-40 clearfix">
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="call-to-action text-center">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
            <h3 class="title">訂閱我們的電子報</h3>
            <p>電子報將提供您豐富的購物資訊，內容包括新品、限時優惠以及特別活動訊息等，讓您第一手掌握最新情報。</p>
            <div class="separator"></div>
            <form class="form-inline margin-clear d-flex justify-content-center">
                <div class="form-group has-feedback">
                <label class="sr-only" for="subscribe3">電子信箱</label>
                <input type="email" class="form-control form-control-lg" id="subscribe3" placeholder="請輸入電子信箱" required="">
                <i class="fa fa-envelope form-control-feedback"></i>
                </div>
                <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear ml-3">送出 <i class="fa fa-send"></i></button>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="clearfix space-top">
<div class="container">
    <div class="row">
    <div class="col-12">
        <!-- pricing tables start -->
        <!-- ================ -->
        <div class="pricing-tables hc-element-invisible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
        <div class="row">
            <!-- pricing table start -->
            <!-- ================ -->
            <div class="col-md-4 plan">
            <div class="header dark-bg">
                <h3>試用版</h3>
                <div class="price"><span>免費</span></div>
            </div>
            <ul class="hc-shadow light-gray-bg bordered">
                <li>試用服務項目一</li>
                <!-- <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15GB Storage" data-trigger="hover">Pricing table item</a>
                </li>
                <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15 Email Acounts">Pricing table item</a>
                </li> -->
                <li>試用服務項目二</li>
                <li>試用服務項目三</li>
                <li>試用服務項目四</li>
                <li>試用服務項目五</li>
                <li>試用服務項目六</li>
                <li><a href="#" class="btn btn-dark btn-animated btn-lg">免費體驗 <i class="fa fa-user"></i></a></li>
            </ul>
            </div>
            <!-- pricing table end -->

            <!-- pricing table start -->
            <!-- ================ -->
            <div class="col-md-4 plan best-value">
            <div class="header default-bg">
                <h3>付費版</h3>
                <div class="price"><span>$1,000</span>/月.</div>
            </div>
            <ul class="hc-shadow light-gray-bg bordered">
                <li>付費服務項目一</li>
                <li>付費服務項目二</li>
                <!-- <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Pricing table item">Pricing table item</a>
                </li> -->
                <li>付費服務項目三</li>
                <li>付費服務項目四</li>
                <li>付費服務項目五</li>
                <li>付費服務項目六</li>
                <li><a href="#" class="btn btn-default btn-animated btn-lg">加入購物車 <i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            </div>
            <!-- pricing table end -->

            <!-- pricing table start -->
            <!-- ================ -->
            <div class="col-md-4 plan">
            <div class="header dark-bg">
                <h3>專業版</h3>
                <div class="price"><span>$3,000</span>/月.</div>
            </div>
            <ul class="hc-shadow light-gray-bg bordered">
                <li>專業服務項目一</li>
                <li>專業服務項目二</li>
                <li>專業服務項目三</li>
                <li>專業服務項目四</li>
                <!-- <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Pricing table item">Pricing table item</a>
                </li> -->
                <li>專業服務項目五</li>
                <li>專業服務項目六</li>
                <li><a href="#" class="btn btn-dark btn-animated btn-lg">加入購物車 <i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            </div>
            <!-- pricing table end -->
        </div>
        </div>
        <!-- pricing tables end -->

    </div>
    </div>
</div>
</section>
<!-- section end -->