<!-- banner start -->
<!-- ================ -->
<div class="banner video-background-banner pv-40 dark-translucent-bg hovered">

<div class="video-background-poster" style="background-image: url('./assets/template/videos/video-banner-poster.jpg');"></div>
<video autoplay loop muted style="top:-100%; left: 0;" poster="./assets/template/videos/video-banner-poster.jpg">
    <source src="./assets/template/videos/background-video-banner.mp4" type="video/mp4">
    <source src="./assets/template/videos/background-video-banner.webm" type="video/webm">
</video>

<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Page Services 3</li>
    </ol>
    </div>
</div>
<!-- breadcrumb end -->
<div class="container">
    <div class="row justify-content-lg-center">
    <div class="col-lg-8 text-center pv-20">
        <h2 class="title hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">20年專業設計經驗，丞禹是您的最佳選擇</h2>
        <div class="separator hc-element-invisible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
        <p class="text-center hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
    </div>
    </div>
</div>

</div>
<!-- banner end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container border-clear light-gray-bg padding-bottom-clear">

<div class="container">
    <div class="row">

    <!-- main start -->
    <!-- ================ -->
    <div class="main col-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title text-center">Our Services</h1>
        <!-- page-title end -->

        <div class="image-box space-top style-4">
        <div class="row grid-space-0">
            <div class="col-lg-6">
            <div class="overlay-container">
                <img src="./assets/template/images/service-1.jpg" alt="">
                <div class="overlay-to-top">
                <p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
                </div>
            </div>
            </div>
            <div class="col-lg-6">
            <div class="body">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>First Service Title</h3>
                <div class="separator-2"></div>
                <p class="margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
                <br>
                <a href="#" class="btn btn-lg btn-gray-transparent btn-sm btn-animated margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
            </div>
        </div>
        </div>
        <div class="image-box style-4">
        <div class="row grid-space-0">
            <div class="col-lg-6 order-lg-2">
            <div class="overlay-container">
                <img src="./assets/template/images/service-2.jpg" alt="">
                <div class="overlay-to-top">
                <p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
                </div>
            </div>
            </div>
            <div class="col-lg-6 order-lg-1">
            <div class="body text-right">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>Second Service Title</h3>
                <div class="separator-3"></div>
                <p class="margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
                <br>
                <a href="#" class="btn btn-lg btn-gray-transparent btn-sm btn-animated margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
            </div>
        </div>
        </div>
        <div class="image-box style-4">
        <div class="row grid-space-0">
            <div class="col-lg-6">
            <div class="overlay-container">
                <img src="./assets/template/images/service-3.jpg" alt="">
                <div class="overlay-to-top">
                <p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
                </div>
            </div>
            </div>
            <div class="col-lg-6">
            <div class="body">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>Third Service Title</h3>
                <div class="separator-2"></div>
                <p class="margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
                <br>
                <a href="#" class="btn btn-lg btn-gray-transparent btn-sm btn-animated margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
            </div>
        </div>
        </div>
        <div class="image-box style-4">
        <div class="row grid-space-0">
            <div class="col-lg-6 order-lg-2">
            <div class="overlay-container">
                <img src="./assets/template/images/service-4.jpg" alt="">
                <div class="overlay-to-top">
                <p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
                </div>
            </div>
            </div>
            <div class="col-lg-6 order-lg-1">
            <div class="body text-right">
                <div class="pv-30 hidden-lg-down"></div>
                <h3>Fourth Service Title</h3>
                <div class="separator-3"></div>
                <p class="margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
                <br>
                <a href="#" class="btn btn-lg btn-gray-transparent btn-sm btn-animated margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- main end -->

    </div>
</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<section class="pv-40 dark-translucent-bg background-img-1">
<div class="container">
    <h2 class="title text-center"><strong>Benefits</strong></h2>
    <div class="separator"></div>
    <br>
    <div class="row">
    <div class="col-lg-6">
        <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon without-bg"><i class="fa fa-support"></i></span>
        <div class="body">
            <h4 class="title">Unt in culpa qui</h4>
            <p>Adipisci blanditiis placeat suscipit itaque obcaecati explicabo minus ex voluptatum aper.</p>
            <div class="separator-3"></div>
            <ul class="list-icons">
            <li>Duis aute irure dolor <i class="fa fa-check-square-o"></i></li>
            <li>Dolore eu fugiat nulla <i class="fa fa-check-square-o"></i></li>
            <li>Labore et dolore magna aliqua <i class="fa fa-check-square-o"></i></li>
            <li>Unt in culpa qui deserunt <i class="fa fa-check-square-o"></i></li>
            </ul>
            <div class="separator-2"></div>
        </div>
        </div>
        <br>
        <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon light-bg small"><i class="fa fa-arrows"></i></span>
        <div class="body">
            <h4 class="title">Responsive Design</h4>
            <p>Our design is with responsive in mind. Our themes are compatible with various devices.</p>
            <div class="separator-3"></div>
        </div>
        </div>
        <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon light-bg small"><i class="fa fa-bullhorn"></i></span>
        <div class="body">
            <h4 class="title">Inve et ita</h4>
            <p>Our design is with responsive in mind. Our themes are compatible with various devices.</p>
            <div class="separator-3"></div>
        </div>
        </div>
        <div class="hc-item-box-2 hc-element-invisible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon light-bg small"><i class="fa fa-umbrella"></i></span>
        <div class="body">
            <h4 class="title">Labore et dolore magna aliqua</h4>
            <p>Our design is with responsive in mind. Our themes are compatible with various devices.</p>
            <div class="separator-3"></div>
        </div>
        </div>
        <br>
    </div>
    <div class="col-lg-6">
        <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
        <div class="body">
            <h4 class="title">Crystal Clean Design</h4>
            <p>Eum voluptatem explicabo cumque inventore et itaque quisquam sunteas. Elegant layouts.</p>
            <div class="separator-2"></div>
            <ul class="list-icons">
            <li>Duis aute irure dolor <i class="fa fa-check-square-o"></i></li>
            <li>Dolore eu fugiat nulla <i class="fa fa-check-square-o"></i></li>
            <li>Labore et dolore magna aliqua <i class="fa fa-check-square-o"></i></li>
            <li>Unt in culpa qui deserunt <i class="fa fa-check-square-o"></i></li>
            </ul>
            <div class="separator-3"></div>
        </div>
        </div>
        <br>
        <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon light-bg small"><i class="fa fa-snowflake-o"></i></span>
        <div class="body">
            <h4 class="title">Lorem dolor sit</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
            <div class="separator-2"></div>
        </div>
        </div>
        <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon light-bg small"><i class=" fa fa-cogs"></i></span>
        <div class="body">
            <h4 class="title">Unt in culpa qui</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
            <div class="separator-2"></div>
        </div>
        </div>
        <div class="hc-item-box-2 hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
        <span class="icon light-bg small"><i class="fa fa-star-o"></i></span>
        <div class="body">
            <h4 class="title">Quis harum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ut labore et dolore magna aliqua.</p>
            <div class="separator-2"></div>
        </div>
        </div>
        <br>
    </div>
    </div>
</div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="section dark-bg pv-40 clearfix">
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="call-to-action text-center">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
            <h3 class="title"><strong>Subscribe</strong> To Our Newsletter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
            <div class="separator"></div>
            <form class="form-inline margin-clear d-flex justify-content-center">
                <div class="form-group has-feedback">
                <label class="sr-only" for="subscribe3">Email address</label>
                <input type="email" class="form-control form-control-lg" id="subscribe3" placeholder="Enter email" required="">
                <i class="fa fa-envelope form-control-feedback"></i>
                </div>
                <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear ml-3">Submit <i class="fa fa-send"></i></button>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="clearfix space-top">
<div class="container">
    <div class="row">
    <div class="col-12">
        <!-- pricing tables start -->
        <!-- ================ -->
        <div class="pricing-tables hc-element-invisible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
        <div class="row">
            <!-- pricing table start -->
            <!-- ================ -->
            <div class="col-md-4 plan">
            <div class="header dark-bg">
                <h3>Basic</h3>
                <div class="price"><span>Free</span></div>
            </div>
            <ul class="hc-shadow light-gray-bg bordered">
                <li>Pricing table item</li>
                <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15GB Storage" data-trigger="hover">Pricing table item</a>
                </li>
                <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15 Email Acounts">Pricing table item</a>
                </li>
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li><a href="#" class="btn btn-dark btn-animated btn-lg">Subscribe <i class="fa fa-user"></i></a></li>
            </ul>
            </div>
            <!-- pricing table end -->

            <!-- pricing table start -->
            <!-- ================ -->
            <div class="col-md-4 plan best-value">
            <div class="header default-bg">
                <h3>Premium</h3>
                <div class="price"><span>$19.99</span>/m.</div>
            </div>
            <ul class="hc-shadow light-gray-bg bordered">
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Pricing table item">Pricing table item</a>
                </li>
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li><a href="#" class="btn btn-default btn-animated btn-lg">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            </div>
            <!-- pricing table end -->

            <!-- pricing table start -->
            <!-- ================ -->
            <div class="col-md-4 plan">
            <div class="header dark-bg">
                <h3>Pro</h3>
                <div class="price"><span>$24.99</span>/m.</div>
            </div>
            <ul class="hc-shadow light-gray-bg bordered">
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li>
                <a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Pricing table item">Pricing table item</a>
                </li>
                <li>Pricing table item</li>
                <li>Pricing table item</li>
                <li><a href="#" class="btn btn-dark btn-animated btn-lg">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            </div>
            <!-- pricing table end -->
        </div>
        </div>
        <!-- pricing tables end -->

    </div>
    </div>
</div>
</section>
<!-- section end -->