<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
        <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/1e3d986d-3bf7-479c-bd78-adae3679a9d2/v3/index.json" />
    </packageSources>
</configuration>