@page
@using Microsoft.Extensions.Localization
@using FS.Abp.File.Localization
@model FS.Abp.File.Web.Pages.File.IndexModel
@inject IStringLocalizer<FileResource> L
@{
}
<h1>File</h1>
<p>@L["SamplePageMessage"]</p>
