@page
@using Microsoft.Extensions.Localization
@using FS.Entity.EntityDefaults.Localization
@using FS.Entity.EntityDefaults.Web.Pages.EntityDefaults
@model FS.Entity.EntityDefaults.Web.Pages.EntityDefaults.IndexModel
@inject IStringLocalizer<EntityDefaultsResource> L

@{
}
<h1>EntityDefaults</h1>
<p>@L["SamplePageMessage"]</p>
