@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.LeptonTheme.Demo.Localization.Resource
@using Volo.Abp.LeptonTheme.Demo.Navigation
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Tables
@model Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Tables.DataTablesModel
@inject IHtmlLocalizer<DemoResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["DataTables"].Value;
    PageLayout.Content.BreadCrumb.Items.Add(new BreadCrumbItem(L["Tables"].Value));
    PageLayout.Content.MenuItemName = DemoMenu.Tables.DataTables;
}
@section content_toolbar {
    <abp-button button-type="Primary">Primary</abp-button>
    <abp-button button-type="Secondary">Secondary</abp-button>
    <abp-button button-type="Success">Success</abp-button>
}

@section scripts {
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#leptonDataTable thead tr').clone(true).appendTo('#leptonDataTable thead');
            $('#leptonDataTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#leptonDataTable').DataTable({
                orderCellsTop: true,
                responsive: true,
                fixedHeader: true,
                deferRender: true,
                scrollX: true,
                scrollY: true,
                scrollCollapse: true,
                scroller: true,
                searching: true,
                paging: true,
                select: true,
                info: true,
                "columns": [
                    null,
                    null,
                    null,
                    { "class": "table-col-sm" },
                    { "class": "table-col-sm" },
                    null,
                    null,
                    null,
                    { "class": "table-col-sm" },
                    { "class": "table-col-sm" }
                ],
                "dom": '<"dataTable_filters"f>rt<"row dataTable_footer"<"col-auto"l><"col-auto"i><"col"p>>',
            });


            $('#leptonDataTable tbody').on('mouseenter', 'td', function () {
                var colIdx = table.cell(this).index().column;
                $(table.cells().nodes()).removeClass('highlight');
                $(table.column(colIdx).nodes()).addClass('highlight');
            });
        });
    </script>
}
<div class="card">
    <div class="card-body">

        <div class="card-demo">


            <div class="row">

                <div class="col-md-12">


                    <table id="leptonDataTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Status</th>
                                <th>Mobile</th>
                                <th>Start</th>
                                <th>Salary</th>
                                <th>Edit</th>
                                <th>Del</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Archit ectSystem </td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Armagan Unlu</td>
                                <td>Designer</td>
                                <td>Istanbul</td>
                                <td>31</td>
                                <td><span class="badge badge-primary">Primary</span></td>
                                <td>+03(912364578)</td>
                                <td>2011/04/24</td>
                                <td>$120,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>

                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td><span class="badge badge-success">Success</span></td>
                                <td>+02(912364578)</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td><button class="btn btn-success btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="fa fa-pencil"></span></button></td>
                                <td><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="fa fa-trash"></span></button></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>






        </div>
    </div>
</div>