@page "/EntityFeatures"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.EntityFeatures.Localization
@inject IStringLocalizer<EntityFeaturesResource> L
@{
}
<h1>EntityFeatures</h1>
<p>@L["SamplePageMessage"]</p>