@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.LeptonTheme.Demo.Localization.Resource
@using Volo.Abp.LeptonTheme.Demo.Navigation
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Libraries
@model Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Libraries.CustomScrollModel
@inject IHtmlLocalizer<DemoResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["CustomScroll"].Value;
    PageLayout.Content.BreadCrumb.Items.Add(new BreadCrumbItem(L["Libraries"].Value));
    PageLayout.Content.MenuItemName = DemoMenu.Libraries.CustomScroll;
}
@section content_toolbar {
    <abp-button button-type="Primary">Primary</abp-button>
    <abp-button button-type="Secondary">Secondary</abp-button>
    <abp-button button-type="Success">Success</abp-button>
}
<div class="card">
    <div class="card-header"><h5 class="card-title">Custom Scroll</h5></div>
    <div class="card-body">
        <div class="card" style=" width:300px;">
            <div class="custom-scroll p-4" style="max-height: 300px;">
                <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
</div>

