@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.LeptonTheme.Demo.Localization.Resource
@using Volo.Abp.LeptonTheme.Demo.Navigation
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Libraries
@model Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Libraries.SweetAlertModel
@inject IHtmlLocalizer<DemoResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["SweetAlert"].Value;
    PageLayout.Content.BreadCrumb.Items.Add(new BreadCrumbItem(L["Libraries"].Value));
    PageLayout.Content.MenuItemName = DemoMenu.Libraries.SweetAlert;
}
@section content_toolbar {
    <abp-button button-type="Primary">Primary</abp-button>
    <abp-button button-type="Secondary">Secondary</abp-button>
    <abp-button button-type="Success">Success</abp-button>
}


@section scripts {
    <script>
        "use strict";
        var KSweetAlert2Demo = {
            init: function () {
                $("#lepton_swal_demo_1").click(function (e) {
                    swal("Good job!")
                }),
                $("#lepton_swal_demo_2").click(function (e) {
                    swal("Here's the title!", "...and here's the text!")
                }),
                $("#lepton_swal_demo_3_1").click(function (e) {
                    swal("Good job!", "You clicked the button!", "warning")
                }),
                $("#lepton_swal_demo_3_2").click(function (e) {
                    swal("Good job!", "You clicked the button!", "error")
                }),
                $("#lepton_swal_demo_3_3").click(function (e) {
                    swal("Good job!", "You clicked the button!", "success")
                }),
                $("#lepton_swal_demo_3_4").click(function (e) {
                    swal("Good job!", "You clicked the button!", "info")
                }),
                $("#lepton_swal_demo_3_5").click(function (e) {
                    swal("Good job!", "You clicked the button!", "question")
                }),
                $("#lepton_swal_demo_4").click(function (e) {
                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        type: "success",
                        confirmButtonText: "Confirm me!",
                        confirmButtonClass: "btn btn-focus k-btn k-btn--pill k-btn--air"
                    })
                }),
                $("#lepton_swal_demo_5").click(function (e) {
                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        type: "success",
                        confirmButtonText: "<span><i class='la la-headphones'></i><span>I am game!</span></span>",
                        confirmButtonClass: "btn btn-danger k-btn k-btn--pill k-btn--air k-btn--icon",
                        showCancelButton: !0,
                        cancelButtonText: "<span><i class='la la-thumbs-down'></i><span>No, thanks</span></span>",
                        cancelButtonClass: "btn btn-secondary k-btn k-btn--pill k-btn--icon"
                    })
                }),
                $("#lepton_swal_demo_6").click(function (e) {
                    swal({
                        position: "top-right",
                        type: "success",
                        title: "Your work has been saved",
                        showConfirmButton: !1,
                        timer: 1500
                    })
                }),
                $("#lepton_swal_demo_7").click(function (e) {
                    swal({
                        title: "jQuery HTML example",
                        html: $("<div>").addClass("some-class").text("jQuery is everywhere."),
                        animation: !1,
                        customClass: "animated tada"
                    })
                }),
                $("#lepton_swal_demo_8").click(function (e) {
                    swal({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        type: "warning",
                        showCancelButton: !0,
                        confirmButtonText: "Yes, delete it!"
                    }).then(function (e) {
                        e.value && swal("Deleted!", "Your file has been deleted.", "success")
                    })
                }),
                $("#lepton_swal_demo_9").click(function (e) {
                    swal({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        type: "warning",
                        showCancelButton: !0,
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "No, cancel!",
                        reverseButtons: !0
                    }).then(function (e) {
                        e.value ? swal("Deleted!", "Your file has been deleted.", "success") : "cancel" === e.dismiss && swal("Cancelled", "Your imaginary file is safe :)", "error")
                    })
                }),
                $("#lepton_swal_demo_10").click(function (e) {
                    swal({
                        title: "Sweet!",
                        text: "Modal with a custom image.",
                        imageUrl: "https://unsplash.it/400/200",
                        imageWidth: 400,
                        imageHeight: 200,
                        imageAlt: "Custom image",
                        animation: !1
                    })
                }),
                $("#lepton_swal_demo_11").click(function (e) {
                    swal({
                        title: "Auto close alert!",
                        text: "I will close in 5 seconds.",
                        timer: 5e3,
                        onOpen: function () {
                            swal.showLoading()
                        }
                    }).then(function (e) {
                        "timer" === e.dismiss && console.log("I was closed by the timer")
                    })
                })
            }
        };
        jQuery(document).ready(function () {
            KSweetAlert2Demo.init()
        });
    </script>
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Sweet Alert 2</h2>
    </div>
    <div class="card-body">
        <div class="card-demo">
            <table class="table">
                <tbody>
                    <tr>
                        <td width="20%"><h5>Basic alert</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_1">Show me</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Alert title and text</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_2">Show me</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Enable <code>warning</code>, <code>danger</code>, <code>success</code>, <code>info</code> and <code>question</code> state icons</h5></td>
                        <td>
                            <abp-button button-type="Warning" id="lepton_swal_demo_3_1">Warning</abp-button>
                            <abp-button button-type="Danger" id="lepton_swal_demo_3_2">Danger</abp-button>
                            <abp-button button-type="Success" id="lepton_swal_demo_3_3">Success</abp-button>
                            <abp-button button-type="Info" id="lepton_swal_demo_3_4">Info</abp-button>
                            <abp-button button-type="Default" id="lepton_swal_demo_3_5">Question</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Change confirm button text and class</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_4">Show me</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>Custom button with icon</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_5">Show me</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>A custom positioned dialog with timer to auto close</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_6">Show me</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>jQuery HTML with custom animate.css animation</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_7">Show me</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>A warning message, with a function attached to the confirm button</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_8">Show me</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>By passing a parameter, you can execute something else for cancel</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_9">Show me</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>A message with a custom image and CSS animation disabled</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_10">Show me</abp-button>
                        </td>
                    </tr>
                    <tr>
                        <td><h5>A message with auto close timer</h5></td>
                        <td>
                            <abp-button button-type="Primary" id="lepton_swal_demo_11">Show me</abp-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

