@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.LeptonTheme.Demo.Localization.Resource
@using Volo.Abp.LeptonTheme.Demo.Navigation
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application
@using Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Libraries
@model Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Libraries.ToastrModel
@inject IHtmlLocalizer<DemoResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Toastr"].Value;
    PageLayout.Content.BreadCrumb.Items.Add(new BreadCrumbItem(L["Libraries"].Value));
    PageLayout.Content.MenuItemName = DemoMenu.Libraries.Toastr;
}
@section content_toolbar {
    <abp-button button-type="Primary">Primary</abp-button>
    <abp-button button-type="Secondary">Secondary</abp-button>
    <abp-button button-type="Success">Success</abp-button>
}


@section scripts {
    <script>
         "use strict"; var KToastrDemo = function () { var t = function () { var t, o = -1, e = 0; $("#showtoast").click(function () { var n, a = $("#toastTypeGroup input:radio:checked").val(), s = $("#message").val(), i = $("#title").val() || "", r = $("#showDuration"), l = $("#hideDuration"), c = $("#timeOut"), p = $("#extendedTimeOut"), u = $("#showEasing"), h = $("#hideEasing"), d = $("#showMethod"), v = $("#hideMethod"), g = e++, f = $("#addClear").prop("checked"); toastr.options = { closeButton: $("#closeButton").prop("checked"), debug: $("#debugInfo").prop("checked"), newestOnTop: $("#newestOnTop").prop("checked"), progressBar: $("#progressBar").prop("checked"), positionClass: $("#positionGroup input:radio:checked").val() || "toast-top-right", preventDuplicates: $("#preventDuplicates").prop("checked"), onclick: null }, $("#addBehaviorOnToastClick").prop("checked") && (toastr.options.onclick = function () { alert("You can perform some custom action after a toast goes away") }), r.val().length && (toastr.options.showDuration = r.val()), l.val().length && (toastr.options.hideDuration = l.val()), c.val().length && (toastr.options.timeOut = f ? 0 : c.val()), p.val().length && (toastr.options.extendedTimeOut = f ? 0 : p.val()), u.val().length && (toastr.options.showEasing = u.val()), h.val().length && (toastr.options.hideEasing = h.val()), d.val().length && (toastr.options.showMethod = d.val()), v.val().length && (toastr.options.hideMethod = v.val()), f && (s = function (t) { return t = t || "Clear itself?", t += '<br /><br /><button type="button" class="btn btn-light btn-elevate btn-sm clear">Yes</button>' }(s), toastr.options.tapToDismiss = !1), s || (++o === (n = ["New order has been placed!", "Are you the six fingered man?", "Inconceivable!", "I do not think that means what you think it means.", "Have fun storming the castle!"]).length && (o = 0), s = n[o]), $("#toastrOptions").text("toastr.options = " + JSON.stringify(toastr.options, null, 2) + ";\n\ntoastr." + a + '("' + s + (i ? '", "' + i : "") + '");'); var k = toastr[a](s, i); t = k, void 0 !== k && (k.find("#okBtn").length && k.delegate("#okBtn", "click", function () { alert("you clicked me. i was toast #" + g + ". goodbye!"), k.remove() }), k.find("#surpriseBtn").length && k.delegate("#surpriseBtn", "click", function () { alert("Surprise! you clicked me. i was toast #" + g + ". You could perform an action here.") }), k.find(".clear").length && k.delegate(".clear", "click", function () { toastr.clear(k, { force: !0 }) })) }), $("#clearlasttoast").click(function () { toastr.clear(t) }), $("#cleartoasts").click(function () { toastr.clear() }) }; return { init: function () { t() } } }(); jQuery(document).ready(function () { KToastrDemo.init() });
    </script>
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Toastr</h2>
    </div>
    <div class="card-body">
        <div class="card-demo">
            <table class="table">
                <tr>
                    <td> 
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input id="title" type="text" class="form-control" placeholder="Enter a title ...">
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" id="message" rows="3" placeholder="Enter a message ..."></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input id="closeButton" type="checkbox" value="checked" class="custom-control-input">
                                        <label class="custom-control-label" for="closeButton">
                                            Close Button
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input id="addBehaviorOnToastClick" type="checkbox" value="checked" class="custom-control-input">
                                        <label class="custom-control-label" for="addBehaviorOnToastClick">
                                            Add behavior on toast click
                                        </label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input id="debugInfo" type="checkbox" value="checked" class="custom-control-input">
                                        <label class="custom-control-label" for="debugInfo">
                                            Debug
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input id="progressBar" type="checkbox" value="checked" class="custom-control-input">
                                        <label class="custom-control-label" for="progressBar">
                                            Progress Bar
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input id="preventDuplicates" type="checkbox" value="checked" class="custom-control-input">
                                        <label class="custom-control-label" for="preventDuplicates">
                                            Prevent Duplicates
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input id="addClear" type="checkbox" value="checked" class="custom-control-input">
                                        <label class="custom-control-label" for="addClear">
                                            Add button to force clearing a toast, ignoring focus
                                        </label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input id="newestOnTop" type="checkbox" value="checked" class="custom-control-input">
                                        <label class="custom-control-label" for="newestOnTop">
                                            Newest on top
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div id="toastTypeGroup">
                                    <h5>Toast Type</h5>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="toasts" checked value="success" id="toastTypeGroup1">
                                        <label class="custom-control-label" for="toastTypeGroup1">Success </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="toasts" value="info" id="toastTypeGroup2">
                                        <label class="custom-control-label" for="toastTypeGroup2">Info </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="toasts" value="warning" id="toastTypeGroup3">
                                        <label class="custom-control-label" for="toastTypeGroup3">Warning </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="toasts" value="error" id="toastTypeGroup4">
                                        <label class="custom-control-label" for="toastTypeGroup4">Error </label>
                                    </div>
                                </div>
                                <div class="form-group mt-5">
                                    <div id="positionGroup">
                                        <h5>Position</h5>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="positions" checked value="toast-top-right" id="positionGroup1">
                                            <label class="custom-control-label" for="positionGroup1">Top Right </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="positions" value="toast-bottom-right" id="positionGroup2">
                                            <label class="custom-control-label" for="positionGroup2">Bottom Right </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="positions" value="toast-bottom-left" id="positionGroup3">
                                            <label class="custom-control-label" for="positionGroup3">Bottom Left </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="positions" value="toast-top-left" id="positionGroup4">
                                            <label class="custom-control-label" for="positionGroup4">Top Left </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="positions" value="toast-top-full-width" id="positionGroup5">
                                            <label class="custom-control-label" for="positionGroup5">Top Full Width </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="positions" value="toast-bottom-full-width" id="positionGroup6">
                                            <label class="custom-control-label" for="positionGroup6">Bottom Full Width </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="positions" value="toast-top-center" id="positionGroup7">
                                            <label class="custom-control-label" for="positionGroup7">Top Center </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="positions" value="toast-bottom-center" id="positionGroup8">
                                            <label class="custom-control-label" for="positionGroup8">Bottom Center </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="showEasing">Show Easing</label>
                                    <input id="showEasing" type="text" class="form-control" placeholder="swing, linear" value="swing">
                                </div>
                                <div class="form-group">
                                    <label for="hideEasing">Hide Easing</label>
                                    <input id="hideEasing" type="text" class="form-control" placeholder="swing, linear" value="linear">
                                </div>
                                <div class="form-group">
                                    <label for="showMethod">Show Method</label>
                                    <input id="showMethod" type="text" class="form-control" placeholder="show, fadeIn, slideDown" value="fadeIn">
                                </div>
                                <div class="form-group">
                                    <label for="hideMethod">Hide Method</label>
                                    <input id="hideMethod" type="text" class="form-control" placeholder="hide, fadeOut, slideUp" value="fadeOut">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="showDuration">Show Duration</label>
                                    <input id="showDuration" type="text" class="form-control" placeholder="ms" value="300">
                                </div>
                                <div class="form-group">

                                    <label for="hideDuration">Hide Duration</label>
                                    <input id="hideDuration" type="text" class="form-control" placeholder="ms" value="1000">
                                </div>
                                <div class="form-group">

                                    <label for="timeOut">Time out</label>
                                    <input id="timeOut" type="text" class="form-control" placeholder="ms" value="5000">
                                </div>
                                <div class="form-group">
                                    <label for="extendedTimeOut">Extended time out</label>
                                    <input id="extendedTimeOut" class="form-control" type="text" placeholder="ms" value="1000">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <pre id="toastrOptions" style="background: #f5f5f5; " class="p-3">Output:</pre>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-center p-4">
                                    <a href="javascript:;" class="btn btn-primary" id="showtoast">Show Toast</a>
                                    <a href="javascript:;" class="btn btn-danger" id="cleartoasts">Clear Toasts</a>
                                    <a href="javascript:;" class="btn btn-warning" id="clearlasttoast">Clear Last Toast</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>