@page
@model Volo.Payment.DemoApp.Pages.IndexModel
<link rel="stylesheet" href="assets/css/pricing.css" />
<form method="post" action="Index">
    @Html.AntiForgeryToken()
    <div class="background">
        <div class="container">
            <div class="panel pricing-table">
                <div class="pricing-plan">
                    <i class="fa fa-paper-plane"></i>
                    <h2 class="pricing-header">Personal</h2>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">Unlimited projects</li>
                        <li class="pricing-features-item">Single Developer license</li>
                        <li>
                            <input type="number" min="0" asp-for="Product1Count" />
                        </li>
                    </ul>
                    <span class="pricing-price">$999</span>
                </div>

                <div class="pricing-plan">
                    <i class="fa fa-plane"></i>
                    <h2 class="pricing-header">Team</h2>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">Unlimited projects</li>
                        <li class="pricing-features-item">
                            3 developer license included
                            <small>$299 per additional developer</small>
                        </li>
                        <li>
                            <input type="number" min="0" asp-for="Product2Count" />
                        </li>
                    </ul>
                    <span class="pricing-price">1999</span>
                </div>

                <div class="pricing-plan">
                    <i class="fa fa-rocket"></i>
                    <h2 class="pricing-header">Enterprise</h2>
                    <ul class="pricing-features">
                        <li class="pricing-features-item">Unlimited projects</li>
                        <li class="pricing-features-item">
                            5 developer licenses included
                            <small>$499 per additional developer</small>
                        </li>
                        <li>
                            <input type="number" min="0" asp-for="Product3Count" />
                        </li>
                    </ul>
                    <span class="pricing-price">$4999</span>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="pricing-button">Purchase</button>
            </div>
        </div>
    </div>
</form>