@page
@using Microsoft.Extensions.Localization
@using FS.Abp.EntityTypes.Localization
@model FS.Abp.EntityTypes.Web.Pages.EntityTypes.IndexModel
@inject IStringLocalizer<EntityTypesResource> L
@{
}
<h1>EntityTypes</h1>
<p>@L["SamplePageMessage"]</p>
