<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
<div class="container">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="index.html">Home</a></li>
    <li class="breadcrumb-item active">Page About 4</li>
    </ol>
</div>
</div>
<!-- breadcrumb end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">
<div class="container">
    <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-12">
        <h1 class="title">關於我們</h1>
        <div class="separator-2"></div>
        <div class="row">
        <div class="col-lg-6">
            <p>丞禹創立於民國90年，由OEM、ODM消費性電子產品起家，而後建立自有品牌 EverGuard 推出緊急求救系統對講、門禁等系統，我們傾聽客戶的需求，並不斷優化產品，希望可以帶給客戶更加完善的系統方案。</p>
            <p>隨著時間的洪流，我們一路向前，用心走出全新的道路，將科技帶入生活，打破框架，創造全新體驗和無限的商業機會，期待透過更多合作、互惠的方式，共創下一個閃耀的20年。</p>
        </div>
        <div class="col-lg-6">
            <div class="overlay-container overlay-visible">
            <img src="./assets/images360/about.jpg" alt="">
            <div class="overlay-bottom hidden-xs">
                <div class="text">
                <h3 class="title">We Love To Code [1140X705]</h3>
                </div>
            </div>
            <a href="./assets/images360/about.jpg" class="popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        </div>
    </div>
    <!-- main end -->
    </div>
</div>
<!-- section start -->
<!-- ================ -->
<div class="light-gray-bg pv-40 section mt-20">
    <div class="container">
    <h4 class="title mb-20">我們的 <strong>團隊</strong> [480X480]</h4>
    <div class="row grid-space-10">
        <div class="col-md-4">
        <div class="team-member image-box style-2 bordered hc-shadow-2 text-center">
            <img src="./assets/images360/pic-1.png" alt="">
            <div class="body">
            <h3 class="margin-clear">大蘋果</h3>
            <small>執行長</small>
            <div class="separator mt-10"></div>
            <p class="small margin-clear">丞禹科技有限公司</p>
            <div class="separator mt-10"></div>
            <ul class="social-links colored margin-clear">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <div class="separator mt-10 mb-10"></div>
            <a href="#" class="margin-clear btn btn-md-link link-dark"><i class="pr-10 fa fa-phone"></i>電話</a>
            <a href="#" class="margin-clear btn btn-md-link link-dark"><i class="pr-10 fa fa-envelope-o"></i>寄信</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="team-member image-box style-2 bordered hc-shadow-2 text-center">
            <img src="./assets/images360/pic-2.png" alt="">
            <div class="body">
            <h3 class="margin-clear">中蘋果</h3>
            <small>技術長</small>
            <div class="separator mt-10"></div>
            <p class="small margin-clear">丞禹科技有限公司</p>
            <div class="separator mt-10"></div>
            <ul class="social-links colored margin-clear">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <div class="separator mt-10 mb-10"></div>
            <a href="#" class="margin-clear btn btn-md-link link-dark"><i class="pr-10 fa fa-phone"></i>電話</a>
            <a href="#" class="margin-clear btn btn-md-link link-dark"><i class="pr-10 fa fa-envelope-o"></i>寄信</a>
            </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="team-member image-box style-2 bordered hc-shadow-2 text-center">
            <img src="./assets/images360/pic-3.png" alt="">
            <div class="body">
            <h3 class="margin-clear">小蘋果</h3>
            <small>專案經理</small>
            <div class="separator mt-10"></div>
            <p class="small margin-clear">丞禹科技有限公司</p>
            <div class="separator mt-10"></div>
            <ul class="social-links colored margin-clear">
                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <div class="separator mt-10 mb-10"></div>
            <a href="#" class="margin-clear btn btn-md-link link-dark"><i class="pr-10 fa fa-phone"></i>電話</a>
            <a href="#" class="margin-clear btn btn-md-link link-dark"><i class="pr-10 fa fa-envelope-o"></i>寄信</a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<!-- section end -->
</section>
<!-- main-container end -->