  <!-- Footer -->
  <div class="shortcode-html">
    <!-- Footer -->
    <footer id="contact-section" class="container">
      <div class="row g-pt-80">
        <div class="col-lg-6 col-12 g-mb-50">
          <table class="w-100 border-right_footer border-bottom_footer">
            <tr>
              <td class="text-right h4 text-blue p-2"><strong>主辦單位：</strong></td>
              <td class="h4 text-blue p-2"><strong>臺南市政府觀光旅遊局</strong></td>
            </tr>
            <tr>
              <td></td>
              <td class="p-2">
                <a href="#"
                  class="mr-2 u-icon-v1 u-icon-size--sm u-shadow-v32 g-color-white g-color-black--hover g-bg-black g-bg-white--hover rounded-circle"><i
                    class="fas fa-home"></i></a>
                <a href="#"
                  class="mr-2 u-icon-v1 u-icon-size--sm u-shadow-v32 g-color-white g-color-black--hover g-bg-black g-bg-white--hover rounded-circle"><i
                    class="fab fa-facebook-square"></i></a>
                <a href="#"
                  class="mr-2 u-icon-v1 u-icon-size--sm u-shadow-v32 g-color-white g-color-black--hover g-bg-black g-bg-white--hover rounded-circle"><i
                    class="fab fa-line"></i></a>
                <a href="#"
                  class="mr-2 u-icon-v1 u-icon-size--sm u-shadow-v32 g-color-white g-color-black--hover g-bg-black g-bg-white--hover rounded-circle"><i
                    class="fab fa-youtube"></i></a>
              </td>
            </tr>
            <tr>
              <td class="text-right h4 text-blue p-2"><strong>承辦單位：</strong></td>
              <td class="h4 text-blue p-2"><strong>沐荳設計有限公司</strong></td>
            </tr>
            <tr>
              <td></td>
              <td class="p-2">
                <a href="#"
                  class="mr-2 u-icon-v1 u-icon-size--sm u-shadow-v32 g-color-white g-color-black--hover g-bg-black g-bg-white--hover rounded-circle"><i
                    class="fab fa-facebook-square"></i></a>
                <a href="#"
                  class="mr-2 u-icon-v1 u-icon-size--sm u-shadow-v32 g-color-white g-color-black--hover g-bg-black g-bg-white--hover rounded-circle"><i
                    class="fab fa-line"></i></a>
                <a href="#"
                  class="mr-2 u-icon-v1 u-icon-size--sm u-shadow-v32 g-color-white g-color-black--hover g-bg-black g-bg-white--hover rounded-circle"><i
                    class="fab fa-youtube"></i></a>
              </td>
            </tr>
          </table>
          <!-- End Links -->
        </div>

        <div class="col-lg-6 col-12 g-mb-50">
          <table class="w-100 ml-lg-5">
            <tr>
              <td class="h4 text-blue p-2 text-lg-left text-center">
                <a routerLink="/infos/registration" class="text-blue"><strong>報名資訊</strong></a></td>
            </tr>
            <tr>
              <td class="h4 text-blue p-2 text-lg-left text-center"><strong>下載簡章</strong></td>
            </tr>
            <tr>
              <td class="h4 text-blue p-2 text-lg-left text-center"><strong>下載報名表</strong></td>
            </tr>
            <tr>
              <td class="h4 text-blue p-2 text-lg-left text-center"><strong>下載菜單自填表</strong></td>
            </tr>
          </table>
        </div>

      </div>
    </footer>
  </div>

  <!-- Copyright -->
  <div class="p-5">
    <div class="text-center">
      <p class="g-font-size-13 mb-0">Copyright &copy; 2021 Mundus Design</p>
    </div>
  </div>
  <!-- End Copyright -->
