@page "/CmsKitManagement"
@using Microsoft.Extensions.Localization
@using global::FS.CmsKitManagement.Localization
@inject IStringLocalizer<CmsKitManagementResource> L
@{
}
<h1>CmsKitManagement</h1>
<p>@L["SamplePageMessage"]</p>