@page
@model Volo.Abp.LeptonTheme.Demo.Pages.IndexModel
@{
    Layout = "~/Pages/_Layouts/SiteLayout.cshtml";
}
@section styles
{
    <abp-style src="/Pages/Index.css" />
}
@section scripts
{
    <abp-script src="/Pages/Index.js" />
}

<section class="mt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-6 order-md-2 mb-5 mb-md-1">
                <div class="w-md-150 w-lg-130 position-relative aos-init aos-animate" data-aos="fade-left">
                    <div class="img-skewed img-skewed-left">
                        <img src="~/img/lepton-ss.png" class="screenshot img-fluid img-skewed-item" alt="...">
                    </div>
                </div>
                <span class="bg-circle bg-circle1"></span>
                <span class="bg-circle bg-circle2"></span>
            </div>
            <div class="col-12 col-md-6 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
                <h1 class="display-6 text-center text-md-left">
                    Welcome to <span class="text-primary">Lepton</span>. <br>
                </h1>
                <p class="lead text-center text-md-left text-muted mb-5 mb-lg-4">
                    All you need to create more beautiful looking dashboards and websites using just Bootstrap!
                </p>
                <div class="text-center text-md-left">
                    <a href="@Url.Page("./Layouts/Application/Dashboard/Dashboard")" class="btn btn-primary shadow lift mr-1 px-4">
                        Live Demos <i class="fa fa-arrow-right d-none d-md-inline ml-2"></i>
                    </a>
                    <a href="/" class="btn btn-light lift mr-3">
                        Documentation
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sub-section py-5">
    <div class="container-fluid py-5">
        <h2 class="text-center mb-2">Demos</h2>
        <h5 class="text-center mb-5">Dashboard Layouts and Styles</h5>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card product-card" data-target="#details">
                    <div class="card-header p-0">
                        <img src="~/img/lepton-ss.png" class="theme-img">
                    </div>
                    <div class="card-body text-center">
                        <a href="javascript:;">
                            <h3>Lepton Default Layout<br /><span class="text-muted">MVC RAZOR, ANGULAR, JQUERY</span></h3>
                            <hr />
                            <h6 class=" mt-0">Default Layout Styles</h6>
                            <div class="demo-styles">
                                <div class="demo-style">
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss.png" class="theme-img"></a>
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-2.png" class="theme-img"></a>
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-3.png" class="theme-img"></a>
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-4.png" class="theme-img"></a>
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-5.png" class="theme-img"></a>
                                </div>
                            </div>
                            <form method="POST" target="_blank" name="CreateDemoForm" role="form" autocomplete="off">
                                <input type="hidden" name="ThemeStyle" value="Style1">
                                <button type="submit" class="btn btn-outline-primary btn-sm vst-btn-themespagedemos mt-4">Live Demo <i class="fa fa-chevron-right"></i></button>
                            </form>
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-md-4 mb-4">
                <div class="card product-card" data-target="#details">
                    <div class="card-header p-0">
                        <img src="~/img/lepton-ss-top.png" class="theme-img">
                    </div>
                    <div class="card-body text-center">
                        <a href="javascript:;">
                            <h3>Lepton Top Menu Layout<br /><span class="text-muted">MVC RAZOR, ANGULAR</span></h3>
                            <hr />
                            <h6 class=" mt-0">Top Menu Layout Styles</h6>
                            <div class="demo-styles">
                                <div class="demo-style">
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-top.png" class="theme-img" data-toggle="tooltip" data-placement="top" title="Material"></a>
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-top-2.png" class="theme-img"></a>
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-top-4.png" class="theme-img"></a>
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-top-5.png" class="theme-img"></a> 
                                </div>
                            </div>
                            <form method="POST" target="_blank" name="CreateDemoForm" role="form" autocomplete="off">
                                <input type="hidden" name="ThemeStyle" value="Style1">
                                <button type="submit" class="btn btn-outline-primary btn-sm vst-btn-themespagedemos mt-4">Live Demo <i class="fa fa-chevron-right"></i></button>
                            </form>
                        </a>
                    </div>
                </div>
            </div> 
            <div class="col-md-4 mb-4">
                <div class="card product-card" data-target="#details">
                    <div class="card-header p-0">
                        <img src="~/img/lepton-ss-wide.png" class="theme-img">
                    </div>
                    <div class="card-body text-center">
                        <a href="javascript:;">
                            <h3>Lepton Wide Layout<br /><span class="text-muted">MVC RAZOR</span></h3>
                            <hr />
                            <h6 class=" mt-0">Wide Layout Styles</h6>
                            <div class="demo-styles">
                                <div class="demo-style">
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-wide.png" class="theme-img"></a>
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-wide-2.png" class="theme-img"></a> 
                                    <a href="#" class="demo-style-1"><img src="~/img/lepton-ss-wide-5.png" class="theme-img"></a> 
                                </div>
                            </div>
                            <form method="POST" target="_blank" name="CreateDemoForm" role="form" autocomplete="off">
                                <input type="hidden" name="ThemeStyle" value="Style1">
                                <button type="submit" class="btn btn-outline-primary btn-sm vst-btn-themespagedemos mt-4">Live Demo <i class="fa fa-chevron-right"></i></button>
                            </form>
                        </a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-6 my-5 pr-md-5">
                <div class="w-md -110 position-relative aos-init aos-animate" data-aos="fade-left">
                    <div class="img-skewed img-skewed-right">
                        <img src="~/img/lepton-ss-4.png" class="screenshot img-fluid img-skewed-item" alt="...">
                    </div>
                </div>
                <span class="bg-circle bg-circle3"></span>
                <span class="bg-circle bg-circle4"></span>
            </div>
            <div class="col-12 col-md-6 col-lg-6 aos-init aos-animate " data-aos="fade-left">
                <div class="  accordion" id="featuresAccordion">
                    <div class=" ">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#featuresOne" role="button" aria-expanded="true" aria-controls="featuresOne">
                                    <div class="mr-auto">
                                        <h5 class="mb-0">
                                            Clean and Beautiful Design<br />
                                            <small class="text-muted font-size-sm">Simple as Bootstrap but looks better.</small>
                                        </h5>
                                    </div>

                                    <span class="collapse-chevron text-muted ml-4">
                                        <i class="fa fa-lg fa-chevron-down"></i>
                                    </span>
                                </a>
                                <div class="collapse show" id="featuresOne" data-parent="#featuresAccordion" style="">
                                    <div class="py-3 py-mb-6">
                                        <p>
                                            Don’t waste your time on boring templates. Look at Lepton, clean and modern design is provided to our customers. You can easy to customize it for any purpose.
                                        </p>
                                        <a href="#!" class="font-weight-bold text-decoration-none btn btn-warning">
                                            Check it out <i class="fa fa-arrow-right ml-3"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <a class="d-flex align-items-center text-reset text-decoration-none collapsed" data-toggle="collapse" href="#featuresTwo" role="button" aria-expanded="false" aria-controls="featuresTwo">
                                    <div class="mr-auto">
                                        <h5 class="mb-0">
                                            Based on Familiar Tools<br />
                                            <small class="text-muted font-size-sm">ABP Framework, Angular, JQuery, etc.</small>
                                        </h5>
                                    </div>

                                    <span class="collapse-chevron text-muted ml-4">
                                        <i class="fa fa-lg fa-chevron-down"></i>
                                    </span>

                                </a>
                                <div class="collapse" id="featuresTwo" data-parent="#featuresAccordion" style="">
                                    <div class="py-3 py-md-6">
                                        <p>
                                            Built on and integrated to popular tools you already know. Low learning curve, easy adaptation, comfortable development.
                                        </p>
                                        <a href="#!" class="font-weight-bold text-decoration-none btn btn-primary">
                                            Check it out <i class="fa fa-arrow-right ml-3"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="list-group-item">

                                <a class="d-flex align-items-center text-reset text-decoration-none collapsed" data-toggle="collapse" href="#featuresThree" role="button" aria-expanded="false" aria-controls="featuresThree">
                                    <div class="mr-auto">
                                        <h5 class="mb-0">
                                            Responsive Layouts and Styles<br />
                                            <small class="text-muted font-size-sm">Choose your own color.</small>
                                        </h5>
                                    </div>

                                    <span class="collapse-chevron text-muted ml-4">
                                        <i class="fa fa-lg fa-chevron-down"></i>
                                    </span>

                                </a>
                                <div class="collapse" id="featuresThree" data-parent="#featuresAccordion" style="">
                                    <div class="py-3 py-md-6">
                                        <p>
                                            Choose one of the awesome colors or from our styles.
                                            Also you can set any color you want in css files.
                                        </p>
                                        <a href="#!" class="font-weight-bold text-decoration-none btn btn-secondary">
                                            Check it out <i class="fa fa-arrow-right ml-3"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




@*<section class="py-5 bg-gradient-light border-top overflow-hidden">
    <div class="container py-5 ">
        <h2 class="text-center mb-2">Components</h2>
        <p class="lead text-center text-muted mb-5">
            It looks exactly like the bootstrap structure, but looks better.
        </p>
        <div class="component-container position-relative">
            <span class="bg-circle bg-circle1" style="opacity: .1; top: -15em; right: -45em;"></span>
            <span class="bg-circle bg-circle2" style="opacity:  .35; top: 5em; left: -15em; background: none;"></span>
            <span class="bg-circle bg-circle3" style="opacity: .1; top: -4em; left: -15em;"></span>
            <div class="component">
                <a href="#">
                    <i class="fa fa-atom fa-2x mb-4"></i>
                    <h5>Alerts</h5>
                </a>
            </div>
            <div class="component">
                <a href="#">
                    <i class="fa fa-atom fa-2x mb-4"></i>
                    <h5>Badges</h5>
                </a>
            </div>
            <div class="component">
                <a href="#">
                    <i class="fa fa-atom fa-2x mb-4"></i>
                    <h5>Component</h5>
                </a>
            </div>
            <div class="component">
                <a href="#">
                    <i class="fa fa-atom fa-2x mb-4"></i>
                    <h5>Component</h5>
                </a>
            </div>
            <div class="component">
                <a href="#">
                    <i class="fa fa-atom fa-2x mb-4"></i>
                    <h5>Component</h5>
                </a>
            </div>
            <div class="component">
                <a href="#">
                    <i class="fa fa-atom fa-2x mb-4"></i>
                    <h5>Component</h5>
                </a>
            </div> 
        </div> 
    </div>  
</section>*@


<section class="py-5 border-top">
    <div class="container py-5 ">
        <h2 class="text-center mb-2">Frequently Asked Questions</h2>
        <div class="row py-5 ">
            <div class="col-md-8 mx-auto aos-init aos-animate " data-aos="fade-left">
                <div class="  accordion" id="featuresAccordion">
                    <div class=" ">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                <a class="d-flex align-items-center text-reset text-decoration-none" data-toggle="collapse" href="#featuresOne" role="button" aria-expanded="true" aria-controls="featuresOne">
                                    <div class="mr-auto">
                                        <h3 class="mb-0">
                                            Simple as Bootstrap but looks better.
                                        </h3>
                                    </div>

                                    <span class="collapse-chevron text-muted ml-4">
                                        <i class="fa fa-lg fa-chevron-down"></i>
                                    </span>
                                </a>
                                <div class="collapse show" id="featuresOne" data-parent="#featuresAccordion" style="">
                                    <div class="py-3 py-mb-6">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur elit. Sunt rerum minima a possimus,
                                            Lorem ipsum dolor sit amet, consectetur elit. Sunt rerum minima a possimus,
                                            amet perferendis, temporibus obcaecati pariatur.
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur elit. Sunt rerum minima a possimus,
                                            amet perferendis, temporibus obcaecati pariatur.
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="list-group-item">
                                <a class="d-flex align-items-center text-reset text-decoration-none collapsed" data-toggle="collapse" href="#featuresTwo" role="button" aria-expanded="false" aria-controls="featuresTwo">
                                    <div class="mr-auto">
                                        <h3 class="mb-0">
                                            Based on familiar tools.
                                        </h3>
                                    </div>

                                    <span class="collapse-chevron text-muted ml-4">
                                        <i class="fa fa-lg fa-chevron-down"></i>
                                    </span>

                                </a>
                                <div class="collapse" id="featuresTwo" data-parent="#featuresAccordion" style="">
                                    <div class="py-3 py-md-6">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus,
                                            amet perferendis, temporibus obcaecati pariatur.
                                            amet perferendis, temporibus obcaecati pariatur.
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus,
                                            amet perferendis, temporibus obcaecati pariatur.
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="list-group-item">
                                <a class="d-flex align-items-center text-reset text-decoration-none collapsed" data-toggle="collapse" href="#featuresThree" role="button" aria-expanded="false" aria-controls="featuresThree">
                                    <div class="mr-auto">
                                        <h3 class="mb-0">
                                            Responsive layouts and styles
                                        </h3>
                                    </div>

                                    <span class="collapse-chevron text-muted ml-4">
                                        <i class="fa fa-lg fa-chevron-down"></i>
                                    </span>

                                </a>
                                <div class="collapse" id="featuresThree" data-parent="#featuresAccordion" style="">
                                    <div class="py-3 py-md-6">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus,
                                            amet perferendis, temporibus obcaecati pariatur.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>