@page
@model Volo.Abp.LeptonTheme.Demo.Pages.IndexModel
@{
    Layout = "~/Pages/_Layouts/SiteLayout.cshtml";
}
@section styles
{
    <abp-style src="/Pages/Pricing.css" />
}
@section scripts
{
    <abp-script src="/Pages/Pricing.js" />
}
 
<!-- PRICING
    ================================================== -->
<section class="py-5 pt-md-4 bg-gray-400">
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center"> 
                <h1>
                    Pricing
                </h1> 
                <p class="lead text-gray-700 mb-5">
                    All types of businesses need access to development resources, so we give you the option to decide how much you need to use.
                </p>  
            </div>
        </div> 
        <div class="row align-items-center no-gutters">
            <div class="col-12 col-md-6"> 
                <div class="card rounded-lg shadow-lg mb-3 aos-init" style="z-index: 1;" data-aos="fade-up"> 
                    <div class="card-body pt-5 pb-2">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-9"> 
                                <div class="d-flex justify-content-center mb-5">
                                    <span class="h2 mb-0 mt-2">$</span>
                                    <span class="price display-2 mb-0" data-annual="29" data-monthly="49">34</span> 
                                </div> 
                                <div class="d-flex">
                                    <div class="badge badge-rounded-circle badge-warning mt-1 mr-4">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <p>
                                        Responsive landing pages, layouts and styles
                                    </p>
                                </div>
                                <div class="d-flex">
                                    <div class="badge badge-rounded-circle badge-warning mt-1 mr-4">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <p>
                                        100+ styled bootstrap based components
                                    </p>
                                </div>
                                <div class="d-flex">
                                    <div class="badge badge-rounded-circle badge-warning mt-1 mr-4">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <p>
                                        <a href="#">Custom components</a> which based on familiar tools
                                    </p>
                                </div>
                                <div class="d-flex">
                                    <div class="badge badge-rounded-circle badge-warning mt-1 mr-4">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <p class="mb-0">
                                        Free support included
                                    </p>
                                </div>
                            </div>
                        </div> 
                    </div>
                     
                    <div class="card-footer p-5">
                        <a href="#!" class=" btn btn-block btn-lg btn-primary">
                            Get it now
                        </a>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-md-6 ml-md-n3"> 
                <div class="card rounded-lg shadow-lg aos-init" data-aos="fade-up" data-aos-delay="200"> 
                    <div class="card-body py-5 py-md-8" style="background: #eef3ff;">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-10">
                                <p class="text-center mb-4">
                                    <span class="badge badge-pill badge-primary-soft">
                                        <span class="h6 font-weight-bold text-uppercase">Customer Reviews</span>
                                    </span>
                                </p>
                                <p class="lead text-center text-muted mb-4">
                                    Lorem ipsum dolor sit amet msum dolor sit amet mia morda
                                </p>
                                <p class="text-center text-muted mb-4">
                                    Lorem ipsum dolor sit amet mia morda since st 1988 lorem ipsumlu dolor sit amet
                                    Lorem ipsum dolor sit amet mia morda since st 1988 lorem ipsumlu dolor sit amet
                                </p>
                                <p class="text-center mb-2">
                                    <strong class="d-block">Armağan Ünlü</strong>
                                    Creative Director @@Volosoft
                                </p>
                                <p class="text-center">
                                   <i class="fa fa-star text-warning"></i> 
                                   <i class="fa fa-star text-warning"></i> 
                                   <i class="fa fa-star text-warning"></i> 
                                   <i class="fa fa-star text-warning"></i> 
                                   <i class="fa fa-star text-warning"></i>  
                                </p>
                            </div>
                        </div> 
                    </div>  
                </div> 
            </div>
        </div> 
    </div> 
</section>
