@page
@using Microsoft.Extensions.Localization
@using FS.LineNotify.Localization
@model FS.LineNotify.Web.Pages.LineNotify.IndexModel
@inject IStringLocalizer<LineNotifyResource> L
@{
}
<h1>LineNotify</h1>
<p>@L["SamplePageMessage"]</p>
