@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Identity.Localization
@model Volo.Abp.Identity.Web.Pages.Identity.Users.SetPassword
@inject IHtmlLocalizer<IdentityResource> L
@{
    Layout = null;
}
<form method="post" class="cupForm" asp-page="/Identity/Users/SetPassword">
    <abp-modal>
        <abp-modal-header title="@(L["SetPassword"].Value + " - " + Model.UserName)"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ChangePasswordInput.Id"/>
            <div class="form-group">
                <label for="NewPasswordInput">@L["Password"]</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="NewPasswordInput" asp-for="ChangePasswordInput.NewPassword">
                    <div class="input-group-append">

                        <button class="btn btn-secondary" id="GenerateRandomPasswordButton" type="button"
                                data-toggle="tooltip" data-placement="top" title="@L["GenerateRandomPasswordTooltip"].Value">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div>
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
