<div class="container p-4" style="background-color:rgb(131,150,159);margin-top:90px">
    <ul class="u-list-inline">
        <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-black-opacity-0_5" href="javascript:void(0)" (click)="goToHome()">首頁</a>
            <i class="g-color-gray-light-v2 g-ml-5">/</i>
        </li>
        <li class="list-inline-item g-color-white">
            <span>實習簡介</span>
        </li>
    </ul>
</div>
<div class="container bg-white p-3">
    <div class="table-responsive mt-2">
        <table class="table border">
            <tbody>
                <tr>
                    <td class="bg-light w-25 g-color-primary g-font-weight-600 text-center g-valign-middle">公告主題</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-light w-25 g-color-primary g-font-weight-600 text-center g-valign-middle">公告類別</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-light w-25 g-color-primary g-font-weight-600 text-center g-valign-middle">活動地點</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-light w-25 g-color-primary g-font-weight-600 text-center g-valign-middle">承辦人員</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-light w-25 g-color-primary g-font-weight-600 text-center g-valign-middle">連絡電話</td>
                    <td></td>
                </tr>
                <tr style="height:250px">
                    <td class="bg-light w-25 g-color-primary g-font-weight-600 text-center g-valign-middle">消息公告</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-light w-25 g-color-primary g-font-weight-600 text-center g-valign-middle">公告日期</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-light w-25 g-color-primary g-font-weight-600 text-center g-valign-middle">附件</td>
                    <td>
                        <a href="#" class="g-text-underline--none--hover"><i class="fas fa-paperclip"></i>&ensp;附件</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-100 text-center">
        <a href="javascript:void(0)" class="btn btn-sm u-btn-primary" (click)="goToList()">返回列表</a>
    </div>

</div>