<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg" style="background-image:url('./assets/images360/backgroud.png'); background-position: 50% 30%;">
<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
    <div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Page Contact 2</li>
    </ol>
    </div>
</div>
<!-- breadcrumb end -->
<div class="container">
    <div class="row justify-content-lg-center">
    <div class="col-lg-8 text-center pv-20">
        <h1 class="page-title text-center">聯絡我們 [1920X1280]</h1>
        <div class="separator"></div>
        <p class="lead text-center">誠摯為您 ‧ 與時俱進</p>
        <ul class="list-inline mb-20 text-center">
        <li class="list-inline-item"><i class="text-default fa fa-map-marker pr-2"></i>700台南市中西區文和街126號</li>
        <li class="list-inline-item"><a href="#" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-2"></i>(06) 2988090</a></li>
        <li class="list-inline-item"><a href="#" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-2"></i>service@everguard.com.tw</a></li>
        </ul>
        <div class="separator"></div>
        <ul class="social-links circle animated-effect-1 margin-clear text-center space-bottom">
        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li class="xing"><a href="#"><i class="fa fa-xing"></i></a></li>
        </ul>
    </div>
    </div>
</div>
</div>
<!-- banner end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

<div class="container">
    <div class="row">

    <!-- main start -->
    <!-- ================ -->
    <div class="main col-12 space-bottom">
        <h2 class="title">產品諮詢/報價/聯繫我們</h2>
        <div class="row">
        <div class="col-lg-6">
            <div class="contact-form">
            <form class="margin-clear">
                <div class="form-group has-feedback">
                <label for="name">公司寶號*</label>
                <input type="text" class="form-control" id="name" placeholder="請輸入公司寶號" required>
                <i class="fa fa-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                <label for="name">聯絡人*</label>
                <input type="text" class="form-control" id="name" placeholder="請輸入姓名" required>
                <i class="fa fa-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                <label for="name">聯絡地址*</label>
                <input type="text" class="form-control" id="name" placeholder="請輸入聯絡地址" required>
                <i class="fa fa-home form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                <label for="name">聯絡電話*</label>
                <input type="text" class="form-control" id="name" placeholder="請輸入聯絡電話" required>
                <i class="fa fa-phone form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                <label for="name">傳真電話*</label>
                <input type="text" class="form-control" id="name" placeholder="請輸入傳真電話" required>
                <i class="fa fa-phone form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                <label for="name">行動電話*</label>
                <input type="text" class="form-control" id="name" placeholder="請輸入行動電話" required>
                <i class="fa fa-mobile form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                <label for="email">電子郵件*</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelperText" placeholder="請輸入電子信箱" required>
                <i class="fa fa-envelope form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                <label for="subject">主旨*</label>
                <input type="text" class="form-control" id="subject" placeholder="請輸入主旨" required>
                <i class="fa fa-navicon form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                <label for="message">詢問內容*</label>
                <textarea class="form-control" rows="6" id="message" placeholder="" required></textarea>
                <i class="fa fa-pencil form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                <label for="name">雲端檔案連結*</label>
                <input type="text" class="form-control" id="name" placeholder="請輸入雲端檔案連結" required>
                <i class="fa fa-file form-control-feedback"></i>
                </div>
                <input type="submit" value="送出" class="submit-button btn btn-lg btn-default">
            </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="map-canvas"></div>
        </div>
        </div>
    </div>
    <!-- main end -->
    </div>
</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<section class="section pv-40 fixed-bg background-img-1 dark-translucent-bg" style="background-position:50% 60%;">
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="call-to-action text-center">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
            <h2 class="title">訂閱我們的電子報</h2>
            <p>電子報將提供您豐富的購物資訊，內容包括新品、限時優惠以及特別活動訊息等，讓您第一手掌握最新情報。</p>
            <div class="separator"></div>
            <form class="form-inline margin-clear d-flex justify-content-center">
                <div class="form-group has-feedback">
                <label class="sr-only" for="subscribe2">電子信箱</label>
                <input type="email" class="form-control form-control-lg" id="subscribe2" placeholder="請輸入電子信箱" required="">
                <i class="fa fa-envelope form-control-feedback"></i>
                </div>
                <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear ml-3">送出 <i class="fa fa-send"></i></button>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<!-- section end -->