@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageSearchBox
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.Abp.IdentityServer.Localization
@using Volo.Abp.IdentityServer.Web.Navigation
@using Volo.Abp.IdentityServer.Web.Pages.IdentityServer.ApiScopes
@model IndexModel
@inject IHtmlLocalizer<AbpIdentityServerResource> L
@inject IAuthorizationService Authorization
@{
    ViewBag.PageTitle = "Identity Server";
}
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ApiScopes"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:IdentityServer"].Value);
    PageLayout.Content.MenuItemName = AbpIdentityServerMenuNames.ApiScopes;
}

@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/IdentityServer/ApiScopes/index.js" />
        <abp-script src="/Pages/IdentityServer/ApiScopes/create.js" />
        <abp-script src="/Pages/IdentityServer/ApiScopes/edit.js" />
    </abp-script-bundle>
}
@section content_toolbar {
    @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new { pageName = typeof(IndexModel).FullName })
}
<div id="ApiScopesWrapper">
    <abp-card>
        <abp-card-body>
            <abp-row>
                <abp-column>
                    @await Component.InvokeAsync(typeof(AbpPageSearchBoxViewComponent))
                </abp-column>
            </abp-row>
        </abp-card-body>
    </abp-card>
    <abp-table striped-rows="true" id="ApiScopesTable" class="nowrap"></abp-table>
</div>
