@page "/SyncTable"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.SyncTable.Localization
@inject IStringLocalizer<SyncTableResource> L
@{
}
<h1>SyncTable</h1>
<p>@L["SamplePageMessage"]</p>