<fs-page
  [list]="list"
  [service]="service"
  [title]="'CmsKitManagement::BlogPost'"
>

</fs-page>

<fs-modal
  [title]="'AbpUi::Create'"
  *ngIf="createModalVisible"
  [(visible)]="createModalVisible"
  (save)="create($event)"
>
  <fs-modal-info-tab [title]="'CmsKit::BlogPost'" [form]="addForm"></fs-modal-info-tab>
</fs-modal>

<fs-modal
  [title]="'AbpUi::Edit'"
  *ngIf="editModalVisible"
  [(visible)]="editModalVisible"
  (save)="edit($event)"
>
  <fs-modal-info-tab
    [title]="'CmsKit::BlogPost'"
    [form]="editForm"
    [selectedRecord]="editSelectedRecord"
  ></fs-modal-info-tab>
</fs-modal>