@page
@model Volo.Payment.TwoCheckout.Pages.Payment.TwoCheckout.PrePaymentModel
@{
}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto mb-4">
                    You are being redirected to 2Checkout for payment 
                </div>
            </div>
        </div> 
    </section>
</main>