@page
@using Microsoft.Extensions.Localization
@using FS.Coding.Codes.Localization
@using FS.Coding.Codes.Web.Pages.Codes
@model FS.Coding.Codes.Web.Pages.Codes.IndexModel
@inject IStringLocalizer<CodesResource> L

@{
}
<h1>Codes</h1>
<p>@L["SamplePageMessage"]</p>
