<section class="my-5">
    <div class="container-fluid" style="min-height: 100vh;width: 300px;">
        <h6>你好！{{userName}} 請輸入你的手機號碼。</h6>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" validateOnSubmit>
            <div class="form-group">
                <label for="login-input-user-name-or-email-address">手機號碼</label>
                <input class="form-control" type="text" id="login-input-user-name-or-email-address"
                    formControlName="phoneNumber" autofocus />
            </div>        

            <button type="submit" class="btn btn-primary">發送簡訊</button>
        </form>



    </div>
</section>