@page "/Identity"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.Identity.Localization
@inject IStringLocalizer<IdentityResource> L
@{
}
<h1>Identity</h1>
<p>@L["SamplePageMessage"]</p>