@page
@model Volo.Abp.LeptonTheme.Demo.Pages.IndexModel
@{
    Layout = "~/Pages/_Layouts/SiteLayout.cshtml";
}
@section styles
{
    <abp-style src="/Pages/Faq.css" />
}
@section scripts
{
    <abp-script src="/Pages/Faq.js" />
}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4"> 
        <div class="py-5"> 

                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                    Getting started
                </h6>

                <!-- Links -->
                <ul class="list mb-6">
                    <li class="list-item">
                        <a class="list-link" href="../docs/index.html">Introduction</a>
                    </li>
                    <li class="list-item d-flex">
                        <a class="list-link" href="../docs/changelog.html">Changelog</a> <span class="badge badge-pill badge-primary-soft ml-auto align-self-center">1.1.3</span>
                    </li>
                </ul>

                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                    Components
                </h6>

                <!-- Links -->
                <ul class="list mb-6">
                    <li class="list-item">
                        <a class="list-link" href="../docs/alerts.html">Alerts</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/avatars.html">Avatars</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/badges.html">Badges</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/breadcrumb.html">Breadcrumb</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/buttons.html">Buttons</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/cards.html">Cards</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/devices.html">Devices</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/dropdowns.html">Dropdowns</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/forms.html">Forms</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/icons.html">Icons</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/lists.html">Lists</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/modal.html">Modal</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/navbar.html">Navbar</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/navs.html">Navs</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/pagination.html">Pagination</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/popovers.html">Popovers</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/progress.html">Progress</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/screenshot.html">Screenshot</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/shapes.html">Shapes</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/spinners.html">Spinners</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/switches.html">Switches</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/tables.html">Tables</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/toasts.html">Toasts</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/tooltips.html">Tooltips</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/typography.html">Typography</a>
                    </li>
                </ul>

                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                    Plugins
                </h6>

                <!-- Links -->
                <ul class="list mb-6">
                    <li class="list-item">
                        <a class="list-link" href="../docs/aos.html">AOS</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/countup.html">Count up</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/fancybox.html">Fancybox</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/flickity.html">Flickity</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/isotope.html">Isotope</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/jarallax.html">Jarallax</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/map.html">Map</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/smooth-scroll.html">Smooth scroll</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/typed.html">Typed</a>
                    </li>
                </ul>


                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                    Utilities
                </h6>

                <!-- List -->
                <ul class="list mb-6">
                    <li class="list-item">
                        <a class="list-link" href="../docs/background.html">Background</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/borders.html">Borders</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/images.html">Images</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/lift.html">Lift</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/overlay.html">Overlay</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/position.html">Position</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/shadows.html">Shadows</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/sizing.html">Sizing</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/type.html">Type</a>
                    </li>
                    <li class="list-item">
                        <a class="list-link" href="../docs/visibility.html">Visibility</a>
                    </li>
                </ul>

                <!-- Heading -->
                <h6 class="text-uppercase font-weight-bold">
                    Design
                </h6>

                <!-- Links -->
                <ul class="list mb-0">
                    <li class="list-item">
                        <a class="list-link" href="../docs/figma.html">Figma</a>
                    </li>
                </ul>
             
        </div>
        </div>
        <div class="col-lg-9 col-md-8">  
                    <h2 class="mt-5 mb-2">Getting Started</h2>
                    <div class="row py-5 ">
                        <div class="col-md-10 mx-auto aos-init aos-animate " data-aos="fade-left">
                        </div>
                    </div> 
        </div>
    </div>
</div>