@page "/FormManagement"
@using Microsoft.Extensions.Localization
@using global::FS.FS.FormManagement.Localization
@inject IStringLocalizer<FormManagementResource> L
@{
}
<h1>FormManagement</h1>
<p>@L["SamplePageMessage"]</p>