@page "/Settings"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.Settings.Localization
@inject IStringLocalizer<SettingsResource> L
@{
}
<h1>Settings</h1>
<p>@L["SamplePageMessage"]</p>