@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.PopoversDemo
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Demo.Views.Components.Themes.Shared.Demos.TooltipsDemo
@using Volo.Abp.LeptonTheme.Demo.Localization.Resource
@using Volo.Abp.LeptonTheme.Demo.Navigation
@model Volo.Abp.LeptonTheme.Demo.Pages.Layouts.Application.Components.TooltipsModel
@inject IHtmlLocalizer<DemoResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Tooltips"].Value;
    PageLayout.Content.BreadCrumb.Items.Add(new BreadCrumbItem(L["CustomPages"].Value));
    PageLayout.Content.MenuItemName = DemoMenu.Components.Tooltips;
}
@section content_toolbar {
}

<div class="lepton-demo">
    @await Component.InvokeAsync(typeof(TooltipsDemoViewComponent))
    @await Component.InvokeAsync(typeof(PopoversDemoViewComponent))
</div> 