@page
@using Microsoft.Extensions.Localization
@using FS.Abp.Localization
@model FS.Abp.Web.Pages.Abp.IndexModel
@inject IStringLocalizer<AbpResource> L
@{
}
<h1>Abp</h1>
<p>@L["SamplePageMessage"]</p>
