<div class="header-container">
    <!-- header start -->
    <!-- classes:  -->
    <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
    <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
    <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
    <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
    <!-- "centered": mandatory class for the centered logo layout -->
    <!-- ================ -->
    <header class="header fixed fixed-desktop clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-auto hidden-md-down pl-3">
            <!-- header-first start -->
            <!-- ================ -->
            <div class="header-first clearfix">

              <!-- logo -->
              <div id="logo" class="logo">
                <a href="~"><img id="logo_img" src="./assets/logo.png" style="height: 50px" alt="翊傑國際貿易"></a>
              </div>

              <!-- name-and-slogan -->
              <!-- <div class="site-slogan">
                  翊傑國際貿易
              </div> -->

            </div>
            <!-- header-first end -->

          </div>
          <div class="col-lg-8 ml-lg-auto">
      
            <!-- header-second start -->
            <!-- ================ -->
            <div class="header-second clearfix">
              
            <!-- main-navigation start -->
            <!-- classes: -->
            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
            <!-- ================ -->
            <div class="main-navigation main-navigation--mega-menu  animated">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="navbar-brand clearfix hidden-lg-up">

                  <!-- logo -->
                  <div id="logo-mobile" class="logo">
                      <a href="index.html"><img id="logo_img" src="./assets/logo.png" style="height: 50px" alt="翊傑國際貿易"></a>
                  </div>

                  <!-- name-and-slogan -->
                  <!-- <div class="site-slogan">
                      翊傑國際貿易
                  </div> -->

                </div>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                  <!-- main-menu -->
                  <ul class="navbar-nav ml-xl-auto">

                    <!-- mega-menu start -->
                    <li class="nav-item">
                      <a href="javascript:void(0)" class="nav-link" (click)="scrollToElement('about-us')">關於我們</a>
                    </li>
                    <!-- mega-menu end -->
                    <!-- mega-menu start -->
                    <li class="nav-item">
                      <a  href="javascript:void(0)" routerLink="/cms/news" class="nav-link">最新消息</a>
                    </li>
                    <!-- mega-menu end -->
                    <li class="nav-item ">
                      <a  href="javascript:void(0)" class="nav-link" (click)="scrollToElement('product')">產品介紹</a>
                    </li>
                    <!-- mega-menu start -->
                    <li class="nav-item">
                      <a  href="javascript:void(0)" class="nav-link" (click)="scrollToElement('contact')">聯絡我們</a>
                    </li>
                    <li class="nav-item">
                      <a  href="./assets/翻譯目錄.pdf" class="nav-link"  target="_blank">目錄下載</a>
                    </li>
                    <!-- mega-menu end -->
                  </ul>
                  <!-- main-menu end -->
                </div>
              </nav>
            </div>
            <!-- main-navigation end -->
            </div>
            <!-- header-second end -->

          </div>
        </div>
      </div>
    </header>
    <!-- header end -->
  </div>