@page "/Printing"
@using Microsoft.Extensions.Localization
@using global::FS.Printer.Printing.Localization
@inject IStringLocalizer<PrintingResource> L
@{
}
<h1>Printing</h1>
<p>@L["SamplePageMessage"]</p>