@page
@using Microsoft.Extensions.Localization
@using FS.Abp.Authentication.Localization
@model FS.Abp.Authentication.Web.Pages.Authentication.IndexModel
@inject IStringLocalizer<AuthenticationResource> L
@{
}
<h1>Authentication</h1>
<p>@L["SamplePageMessage"]</p>
