@page
@using Microsoft.Extensions.Localization
@using FS.Wbm.Localization
@model FS.Wbm.Web.Pages.Wbm.IndexModel
@inject IStringLocalizer<WbmResource> L
@{
}
<h1>Wbm</h1>
<p>@L["SamplePageMessage"]</p>
