@page
@model Volo.Payment.Paypal.Pages.Payment.PayPal.PrePaymentModel

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto mb-4">
                    You are being redirected to PayPal for payment
                </div>
            </div>
        </div>
    </section>
</main>
