@page
@using Microsoft.Extensions.Localization
@using FS.Abp.AuditLogging.Localization
@model FS.Abp.AuditLogging.Web.Pages.AuditLogging.IndexModel
@inject IStringLocalizer<AuditLoggingResource> L
@{
}
<h1>AuditLogging</h1>
<p>@L["SamplePageMessage"]</p>
