@page "/CodingManagement"
@using Microsoft.Extensions.Localization
@using global::FS.CodingManagement.Localization
@inject IStringLocalizer<CodingManagementResource> L
@{
}
<h1>CodingManagement</h1>
<p>@L["SamplePageMessage"]</p>