@page
@using Microsoft.Extensions.Localization
@using FS.Abp.EntityFeatures.Localization
@using FS.Abp.EntityFeatures.Web.Pages.EntityFeatures
@model FS.Abp.EntityFeatures.Web.Pages.EntityFeatures.IndexModel
@inject IStringLocalizer<EntityFeaturesResource> L

@{
}
<h1>EntityFeatures</h1>
<p>@L["SamplePageMessage"]</p>
