@page "/EntityDefaults"
@using Microsoft.Extensions.Localization
@using global::FS.Entity.EntityDefaults.Localization
@inject IStringLocalizer<EntityDefaultsResource> L
@{
}
<h1>EntityDefaults</h1>
<p>@L["SamplePageMessage"]</p>