@page
@using Microsoft.Extensions.Localization
@using FS.Coding.Localization
@using FS.Coding.Web.Pages.Coding
@model FS.Coding.Web.Pages.Coding.IndexModel
@inject IStringLocalizer<CodingResource> L

@{
}
<h1>Coding</h1>
<p>@L["SamplePageMessage"]</p>
