@page
@using Microsoft.Extensions.Localization
@using FS.Abp.Metadata.Localization
@model FS.Abp.Metadata.Web.Pages.Metadata.IndexModel
@inject IStringLocalizer<MetadataResource> L
@{
}
<h1>Metadata</h1>
<p>@L["SamplePageMessage"]</p>
