/* ALL - START  */ 
$themes: (
  'lepton5': (
    'logo': var(--logo),
    'logo-reverse': var(--logo-reverse),
    'base': 12px, 
    'brand': #feba57, 

    'primary': #9C27B0,
    'secondary': #673AB7,
    'success': #009688,
    'info': #2196F3,
    'warning': #FFC107,
    'danger': #C2185B,
    'light': #E1BEE7, 

    'global-text': #000000,
    'global-bg': #ffffff,

    'text-color': #081449,
    'background': #fafafa, 

    'sidebar-bg': #7b1fa2,
    'sidebar-bg-gradient': linear-gradient(7deg,#303f9f,#7b1fa2),
    'sidebar-text': #fff, 

    'shadow': (0 2px 2px 0 rgba(0,0,0,.1), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.15)),
    'shadow-big': (0 2px 2px 0 rgba(0,0,0,.1), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.15)),
    'shadow-sm': (0 2px 2px 0 rgba(0,0,0,.1), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.15)),

    'radius':  2px,
  ),
);

@function theme($theme: 'lepton5', $type: 'primary') {
  $map: map-get($themes, $theme);
  @return map-get($map, $type);
}

$theme-name: 'lepton5'; // Lepton Theme - Style Name

$logo: theme($theme-name, 'logo'); // Logo URL as --root
$logo-reverse: theme($theme-name, 'logo-reverse'); // Logo URL as --root / Colors are reverse (Can be used on login page etc.)
$base: theme($theme-name, 'base'); // Base font size. Grid dimensions and paddings are adjusted accordingly.
  
$brand: theme($theme-name, 'brand');
$primary: theme($theme-name, 'primary');
$secondary: theme($theme-name, 'secondary');
$success: theme($theme-name, 'success');
$info: theme($theme-name, 'info');
$warning: theme($theme-name, 'warning');
$danger: theme($theme-name, 'danger');
$light: theme($theme-name, 'light');
$dark: theme($theme-name, 'dark');
  
$global-text: theme($theme-name, 'global-text');
$global-bg: theme($theme-name, 'global-bg');

$text-color: theme($theme-name, 'text-color');
$background: theme($theme-name, 'background');

$sidebar-bg: theme($theme-name, 'sidebar-bg');
$sidebar-bg-gradient: theme($theme-name, 'sidebar-bg-gradient');
$sidebar-text: theme($theme-name, 'sidebar-text'); 

$border-color: rgba($text-color, 0.1);

$shadow: theme($theme-name, 'shadow');
$shadow-big: theme($theme-name, 'shadow-big');
$shadow-sm: theme($theme-name, 'shadow-sm');

$radius: theme($theme-name, 'radius');

:root {
    --logo: url(/images/logo/logo-light.png) !important;
    --logo-reverse: url(/images/logo/logo-dark.png) !important;
    --sidebar-bg: $sidebar-bg;
    --brand: $brand;
    --primary: $primary;
    --secondary: $secondary;
    --success: $success;
    --info: $info;
    --warning: $warning;
    --danger: $danger;
    --light: $light;
    --dark: $dark;
    --global-text: $global-text;
    --global-bg: $global-bg;
    --text-color: $text-color;
    --background: $background;
    --sidebar-bg: $sidebar-bg;
    --sidebar-text: $sidebar-text;
    --border-color: $border-color;
    --shadow: $shadow;
    --shadow-big: $shadow-big;
    --shadow-smooth: $shadow-sm;
} 

@import 'Base/_fonts.scss';
@import 'Base/_variables.scss';
@import 'Base/_mixins.scss';
@import 'Base/_placeholders.scss';
@import 'Base/_datepicker.scss';

@import 'Base/_general.scss';
@import 'Base/_overrides.scss';
@import 'Base/_tables.scss';
@import 'Base/_jstree.scss';

@import 'Common/_header.scss';
@import 'Common/_content.scss';
@import 'Common/_footer.scss';
@import 'Common/Menus/_main_menu.scss';
@import 'Common/Menus/_main_menu_top.scss';


@import 'Custom/_timeline.scss';

@import 'Base/_democolorchange.scss';

@import 'Base/_rtl.scss';
 
/* ALL - END */





