<div class="container mt-5">
<div class="bg-light py-3">

</div>

<div class="table-responsive mt-3">
    <table class="table table-striped border" style="width: 100%; overflow-x: auto; white-space: nowrap;">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>公告類別</th>
                <th>公告主題</th>
                <th>公告期間</th>
            </tr>
        </thead>

        <tbody>
            <tr class="table-hover">
                <td><i class="fas fa-arrow-right"></i></td>
                <td></td>
                <td style="text-align: left;">
                   
                <td></td>
            </tr>
            
        </tbody>
    </table>
</div>

<nav class="text-center mt-5" aria-label="Page Navigation">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a class="u-pagination-v1__item u-pagination-v1-2 g-pa-7-16" aria-label="Previous">
                <span aria-hidden="true">
                    <i class="fa fa-angle-left g-mr-5"></i>
                    Previous
                </span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="list-inline-item g-hidden-sm-down">
            <a class="u-pagination-v1__item u-pagination-v1-2 g-pa-7-14" href="#">1</a>
        </li>
        <li class="list-inline-item g-hidden-sm-down">
            <a class="u-pagination-v1__item u-pagination-v1-2 u-pagination-v1-2--active g-pa-7-14" href="#">2</a>
        </li>
        <li class="list-inline-item g-hidden-sm-down">
            <a class="u-pagination-v1__item u-pagination-v1-2 g-pa-7-14" href="#">3</a>
        </li>
        <li class="list-inline-item g-hidden-sm-down">
            <a class="g-pa-7-14">...</a>
        </li>
        <li class="list-inline-item g-hidden-sm-down">
            <a class="u-pagination-v1__item u-pagination-v1-2 g-pa-7-14" href="#">80</a>
        </li>
        <li class="list-inline-item">
            <a class="u-pagination-v1__item u-pagination-v1-2 g-pa-7-16" aria-label="Next">
                <span aria-hidden="true">
                    Next
                    <i class="fa fa-angle-right g-ml-5"></i>
                </span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
</div>