<fs-tw-cms-kit-entity-base
  [list]="list"
  [service]="service"
  entityName="BlogPosts"
></fs-tw-cms-kit-entity-base>

<fs-tw-cms-kit-modal
  type="Create"
  *ngIf="createModalVisible"
  [(visible)]="createModalVisible"
  (save)="create($event)"
>
  <fs-tw-cms-kit-modal-info-tab
    title="NewBlogPost"
    [form]="addForm"
  ></fs-tw-cms-kit-modal-info-tab>

  <fs-tw-cms-kit-modal-media-tab title="Media"></fs-tw-cms-kit-modal-media-tab>
</fs-tw-cms-kit-modal>

<fs-tw-cms-kit-modal
  type="Edit"
  *ngIf="editModalVisible"
  [(visible)]="editModalVisible"
  (save)="edit($event)"
>
  <fs-tw-cms-kit-modal-info-tab
    title="BlogPosts"
    [form]="editForm"
  ></fs-tw-cms-kit-modal-info-tab>
  <fs-tw-cms-kit-modal-media-tab title="Media"></fs-tw-cms-kit-modal-media-tab>
</fs-tw-cms-kit-modal>
