@page "/Metadata"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.Metadata.Localization
@inject IStringLocalizer<MetadataResource> L
@{
}
<h1>Metadata</h1>
<p>@L["SamplePageMessage"]</p>