<section class="main-container">
<div class="container">
    <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-12">
        <h2 class="mt-4 "><strong>關於</strong> 丞禹科技有限公司</h2>
        <div class="separator-2"></div>
        <div class="row">
        <div class="col-lg-6">
            <ul class="list-icons">
            <li><i class="fa fa-check-square-o"></i> 丞禹創立於民國90年，由OEM、ODM消費性電子產品起家</li>
            <li><i class="fa fa-check-square-o"></i> 建立自有品牌 EverGuard 推出緊急求救系統對講、門禁等系統</li>
            <li><i class="fa fa-check-square-o"></i> 我們傾聽客戶的需求，並不斷優化產品</li>
            <li><i class="fa fa-check-square-o"></i> 希望可以帶給客戶更加完善的系統方案</li>
            </ul>
            <a href="#" class="link-dark"><i class="fa fa-plus-circle pl-1 pr-1"></i>了解更多</a>
        </div>
        <div class="col-lg-6">
            <div class="overlay-container overlay-visible">
            <img src="./assets/template/images/page-about-2.jpg" alt="">
            <div class="overlay-bottom hidden-xs">
                <div class="text">
                <h3 class="title">We Love To Code</h3>
                </div>
            </div>
            <a href="./assets/template/images/page-about-2.jpg" class="popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        </div>
    </div>
    <!-- main end -->
    </div>
</div>
</section>

<section class="main-container">
<div class="container">
<h2 class="mt-4 text-right"><strong>空間</strong> 分類介紹</h2>
<div class="separator-3"></div>
<div class="row grid-space-10">
    <div class="col-md-4">
    <div class="team-member image-box style-2 bordered hc-shadow-2 text-left">
        <img src="./assets/template/images/team-member-1.jpg" alt="">
        <div class="body">
        <h3 class="margin-clear">宿易控-線上入住服務</h3>
        <br>
        <p>行動管家</p>
        <p>線上Check in</p>
        <p>無卡入住</p>
        </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="team-member image-box style-2 bordered hc-shadow-2 text-left">
        <img src="./assets/template/images/team-member-2.jpg" alt="">
        <div class="body">
        <h3 class="margin-clear">宿易寶-自助櫃檯服務機</h3>
        <br>
        <p>電子支付</p>
        <p>證件掃描</p>
        <p>人臉辨識</p>
        </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="team-member image-box style-2 bordered hc-shadow-2 text-left">
        <img src="./assets/template/images/team-member-3.jpg" alt="">
        <div class="body">
        <h3 class="margin-clear">宿易通-房間控制系統</h3>
        <br>
        <p>調光電燈開關</p>
        <p>插卡取電開關</p>
        <p>磁力門鎖</p>
        <p>房間控制器</p>
        <p>外出開門按鈕</p>
        <p>電子行李櫃</p>
        </div>
    </div>
    </div>
</div>
</div>
</section>

<section class="main-container">
<div class="container">
    <h2 class="mt-4"><strong>熱門</strong> 空間排行</h2>
    <div class="separator-2"></div>
    <div class="image-box style-3-b">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="overlay-container">
              <img src="./assets/template/images/portfolio-4.jpg" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="body">
              <h3 class="title">櫃台叫號鍵盤 (16鍵)</h3>
              <div class="separator-2"></div>
              <p class="mb-10">適用於醫院、銀行、診所、區公所、衛生所、餐飲服務業等單位。</p>
              <a href="#" class="btn btn-default btn-sm margin-clear">查看更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box style-3-b">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="overlay-container">
              <img src="./assets/template/images/portfolio-5.jpg" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="body">
              <h3 class="title">7吋觸控式緊急求救(影像)對講主機-話筒</h3>
              <div class="separator-2"></div>
              <p class="mb-10">｜IP｜對講/影像對講 7吋全彩觸控螢幕主機。根據點對點、點對多點等不同的通信要求,構成廣播對講等應用模式。主要用於銀行等需要緊急求助、雙向對講、遠端呼叫緊急廣播等適用場所。</p>
              <a href="#" class="btn btn-default btn-sm margin-clear">查看更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box style-3-b">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="overlay-container">
              <img src="./assets/template/images/portfolio-6.jpg" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="body">
              <h3 class="title">臉型辨識機</h3>
              <div class="separator-2"></div>
              <p class="mb-10">最新BioLife臉部混合辨識演算法，容量大，辨識速度快且準確。紅外光學夜視攝影頭，適用範圍廣，不受外界光線的影響，在黑暗中也能進行有效辨識。採用最新臉部、指紋、RFID混合驗證門禁終端。搭載4.3吋 TFT觸控螢幕，容易操作，符合人體工程學外觀設計。</p>
              <a href="#" class="btn btn-default btn-sm margin-clear">查看更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
          </div>
        </div>
      </div>
</div>
</section>

<section class="main-container">
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="./assets/template/images/team-member-1.jpg" alt="">
            <h3 class="margin-clear">01.擁有20年專業設計經驗</h3>
        </div>
        <div class="col-md-4">
            <img src="./assets/template/images/team-member-2.jpg" alt="">
            <h3 class="margin-clear">02.安全、專業、多元</h3>
        </div>
        <div class="col-md-4">
            <img src="./assets/template/images/team-member-3.jpg" alt="">
            <h3 class="margin-clear">03.丞禹是您的最佳選擇</h3>
        </div>
    </div>
</div>
</section>

<section class="main-container">
<div class="container">
<h2 class="mt-4 text-right"><strong>最新</strong> 消息快訊</h2>
<div class="separator-3"></div>
    <div class="row">
        <div class="col-md-8">
            <div>
                <span>2020-12-02</span>
                <h3 class="margin-clear">|參展公告|台灣國際飯店暨餐飲設備用品展 – 宿易控Soi-Come</h3>
            </div>
            <hr>
            <div>
                <span>2020-07-10</span>
                <h3 class="margin-clear">｜新品快訊｜防疫法寶 搶得先機就趁現在!!</h3>
            </div>
            <hr>
            <div>
                <span>2020-07-10</span>
                <h3 class="margin-clear">丞禹放暑假!</h3>
            </div>
            <hr>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-animated btn-lg btn-dark">了解更多<i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</div>
</section>

<!-- section start -->
<!-- ================ -->
<section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-7" style="background-position: 50% 50%;">
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-3 col-6 text-center">
        <div class="hc-item-box hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="300">
        <h3><strong>聯絡我們</strong></h3>
        <h3><strong>CONTACT US</strong></h3>
        <a href="#" class="btn btn-animated btn-gray-transparent">歡迎與我們聯繫<i class="fa fa-envelope-o pl-20"></i></a>
        </div>
    </div>
    </div>
</div>
</section>
<!-- section end -->