<section class="main-container">
<div class="container">
    <div class="row">
    <!-- main start -->
    <!-- ================ -->
    <div class="main col-12">
        <h2 class="mt-4 "><strong>關於</strong> 我的商家360</h2>
        <div class="separator-2"></div>
        <div class="row">
        <div class="col-lg-6">
          <p>上網搜尋總是找不到適合的店家嗎?</p>
          <p>因為Google演算法的關係，關鍵字打上去通常出現的都是那幾間店家，</p>
          <p>卻沒有一間中意的嗎?</p>
          <p>我的商家360幫夥伴們歸類出空間類別，讓有需求的你們可以更快速的找到適合的商家!</p>
            <a href="#" class="link-dark"><i class="fa fa-plus-circle pl-1 pr-1"></i>了解更多</a>
        </div>
        <div class="col-lg-6">
            <div class="overlay-container overlay-visible">
            <img src="./assets/images360/istar.jpg" alt="">
            <div class="overlay-bottom hidden-xs">
                <div class="text">
                <h3 class="title">We Love To Code [1140X705]</h3>
                </div>
            </div>
            <a href="./assets/images360/istar.jpg" class="popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        </div>
    </div>
    <!-- main end -->
    </div>
</div>
</section>

<section class="main-container">
<div class="container">
<h2 class="mt-4 text-right"><strong>空間</strong> 分類介紹</h2>
<div class="separator-3"></div>
  <p class="text-right">在Google地圖上常常無法直接尋找直接找到可攜帶寵物的餐廳、可健身的飯店、健康營養的午餐嗎?</p>
  <p class="text-right">我的商家360幫助經常煩惱的你們建立好空間分類，不用在一家一家的打電話詢問囉!</p>
<div class="row grid-space-10">
    <div class="col-md-4">
    <div class="team-member image-box text-left">
        <img src="./assets/images360/space-3.png" alt="">
        <div class="body">
        <h3 class="margin-clear">健身器材空間[480X480]</h3>
        <br>
        <p>飯店</p>
        <p>健身房</p>
        <p>工作室</p>
        <p>運動中心</p>
        <p>物理治療</p>
        </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="team-member image-box text-left">
        <img src="./assets/images360/space-3.png" alt="">
        <div class="body">
        <h3 class="margin-clear">生機飲食空間[480X480]</h3>
        <br>
        <p>早午餐</p>
        <p>餐廳</p>
        <p>素食者</p>
        <p>便當</p>
        </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="team-member image-box text-left">
        <img src="./assets/images360/space-3.png" alt="">
        <div class="body">
        <h3 class="margin-clear">寵物友善空間[480X480]</h3>
        <br>
        <p>咖啡廳</p>
        <p>餐廳</p>
        <p>旅宿</p>
        </div>
    </div>
    </div>
</div>
</div>
</section>

<section class="main-container">
<div class="container">
    <h2 class="mt-4"><strong>熱門</strong> 空間排行</h2>
    <div class="separator-2"></div>
    <div class="image-box style-3-b">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="overlay-container">
              <img src="./assets/images360/hit-1.png" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear text-left"><em>台中市 <i class="text-warning fa fa-star"></i> 9.5</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="body">
              <h3 class="title">漩品oriental sensethe' 品茶藝文空間 (茶道、花藝、書法) [1140X705]</h3>
              <div class="separator-2"></div>
              <p class="mb-10">由東方茶文化著眼，打造頂級茗品。 除品茗外，亦致力於藝術與文化的推廣 提供茶、香、花與書法等多樣課程。 另有日本當代藝術畫展、 活動包場等服務 (品茶 採預約制)</p>
              <a href="#" class="badge badge-primary">藝術專賣品</a>
              <a href="#" class="badge badge-primary">書法課</a>
              <a href="#" class="badge badge-primary">甜點</a>
              <br>
              <a href="#" class="btn btn-default btn-sm margin-clear">查看更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box style-3-b">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="overlay-container">
              <img src="./assets/images360/hit-2.jpg" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear text-left"><em>南投縣  <i class="text-warning fa fa-star"></i> 9.5</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="body">
              <h3 class="title">歐風小築包棟月租 [1140X705]</h3>
              <div class="separator-2"></div>
              <p class="mb-10">擁有寧靜的閒情意趣，更有消費便利的生活機能，景點皆是二十分鐘內可達，可以悠閒旅遊步調，感受在地埔里風情。</p>
              <a href="#" class="badge badge-primary">民宿</a>
              <br>
              <a href="#" class="btn btn-default btn-sm margin-clear">查看更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="image-box style-3-b">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="overlay-container">
              <img src="./assets/images360/hit-3.jpg" alt="">
              <div class="overlay-to-top">
                <p class="small margin-clear text-left"><em>台中市 <i class="text-warning fa fa-star"></i> 9.5</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="body">
              <h3 class="title">Ultron奧創洗鞋洗包包洗皮衣-台中五權店 [1140X705]</h3>
              <div class="separator-2"></div>
              <p class="mb-10">奧創洗鞋洗包包服務在中南部已有10年經驗之久，目前提供： 清洗名牌鞋鍍膜服務， 清洗名牌包整染服務， 皮衣清洗整染服務， 鞋/包/皮夾整染服務， 嬰兒車清洗服務， 行李箱請洗服務。 註：本店無提供維修服務，如需維修請洽其他分店。</p>
              <a href="#" class="badge badge-primary">皮革清潔服務</a>
              <a href="#" class="badge badge-primary">必須戴口罩</a>
              <br>
              <a href="#" class="btn btn-default btn-sm margin-clear">查看更多<i class="fa fa-arrow-right pl-10"></i></a>
            </div>
          </div>
        </div>
      </div>
</div>
</section>

<section class="main-container">
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="./assets/images360/pic-1.png" alt="">
            <h3 class="margin-clear">01.不用再煩惱一間一間打電話詢問 [480X480]</h3>
        </div>
        <div class="col-md-4">
            <img src="./assets/images360/pic-2.png" alt="">
            <h3 class="margin-clear">02.健康飲食夥伴好去處收集 [480X480]</h3>
        </div>
        <div class="col-md-4">
            <img src="./assets/images360/pic-3.png" alt="">
            <h3 class="margin-clear">03.想帶著寵物出門踏青旅遊沒問題 [480X480]</h3>
        </div>
    </div>
</div>
</section>

<section class="main-container">
<div class="container">
<h2 class="mt-4 text-right"><strong>最新</strong> 消息快訊</h2>
<div class="separator-3"></div>
    <div class="row">
        <div class="col-md-8">
            <div>
                <span>2020.10.15</span>
                <h3 class="margin-clear">生機飲食的三大重要因素</h3>
            </div>
            <hr>
            <div>
                <span>2020.10.10</span>
                <h3 class="margin-clear">利用步態分析病因，搭配運動做治療的原理是什麼?</h3>
            </div>
            <hr>
            <div>
                <span>2020.10.09</span>
                <h3 class="margin-clear">毛小孩的生活習慣訓練方式看這邊!</h3>
            </div>
            <hr>
            <a href="#" class="btn btn-animated btn-lg btn-dark">了解更多<i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
</div>
</section>

<!-- section start -->
<!-- ================ -->
<section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered further-background-img-7" style="background-position: 50% 50%;">
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-3 col-6 text-center">
        <div class="hc-item-box hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="300">
        <h3><strong>聯絡我們 [1920X1280]</strong></h3>
        <h3><strong>CONTACT US</strong></h3>
        <a href="#" class="btn btn-animated btn-gray-transparent">歡迎與我們聯繫<i class="fa fa-envelope-o pl-20"></i></a>
        </div>
    </div>
    </div>
</div>
</section>
<!-- section end -->