.further-background-img-7 {
    background: url(/assets/images360/background-hd.jpg) 50% 0px no-repeat;
}

.further-badge {
    margin: 0.5em;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.further-btn-sm {
    padding: 5px 15px;
    font-size: 12px;
    line-height: 1.4666666667;
    border-radius: 3px;
    margin: 5px 0;
    margin-right: 10px;
}