@page
@using Microsoft.Extensions.Localization
@using FS.CodingManagement.Localization
@model FS.CodingManagement.Web.Pages.CodingManagement.IndexModel
@inject IStringLocalizer<CodingManagementResource> L
@{
}
<h1>CodingManagement</h1>
<p>@L["SamplePageMessage"]</p>
