@page "/EntityTypes"
@using Microsoft.Extensions.Localization
@using global::FS.Abp.EntityTypes.Localization
@inject IStringLocalizer<EntityTypesResource> L
@{
}
<h1>EntityTypes</h1>
<p>@L["SamplePageMessage"]</p>