@page "/PrinterManagement"
@using Microsoft.Extensions.Localization
@using global::FS.PrinterManagement.Localization
@inject IStringLocalizer<PrinterManagementResource> L
@{
}
<h1>PrinterManagement</h1>
<p>@L["SamplePageMessage"]</p>