@page
@using Microsoft.Extensions.Localization
@using FS.Abp.Identity.Localization
@using FS.Abp.Identity.Web.Pages.Identity
@model FS.Abp.Identity.Web.Pages.Identity.IndexModel
@inject IStringLocalizer<IdentityResource> L

@{
}
<h1>Identity</h1>
<p>@L["SamplePageMessage"]</p>
