@page
@using Microsoft.Extensions.Localization
@using FS.Entity.MultiLinguals.Localization
@using FS.Entity.MultiLinguals.Web.Pages.MultiLinguals
@model FS.Entity.MultiLinguals.Web.Pages.MultiLinguals.IndexModel
@inject IStringLocalizer<MultiLingualsResource> L

@{
}
<h1>MultiLinguals</h1>
<p>@L["SamplePageMessage"]</p>
