<li class="nav-item">
    <div class="dropdown hovered">
        <a class="btn dropdown-toggle" href="#" role="button" id="dd1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-search fa-fw"></i>
            <span>Search</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right search-dropdown" aria-labelledby="dd1">
            <form class="d-md-block m-0" style="width: 100%">
                <div class="form-row">
                    <div class="col">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary btn-block" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i> Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="dropdown hovered">
        <a class="btn dropdown-toggle" href="#" role="button" id="dd1"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <span>Notifications</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-notifications">
            <div class="text-center">
                <h5 class="card-title m-0">User Notifications</h5>
                <span>23 new notifications</span>
            </div>
            <ul class="list-group mb-0">
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received order has been received order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received order has been received order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received order has been received order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received order has been received order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received order has been received order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        <div class="row m-0">
                            <div class="col-auto pr-1 pl-0"><i class="fa fa-dashboard fa-notification-icon"></i></div>
                            <div class="col pr-0 pl-2">
                                <h5>New order has been received</h5>
                                <div>2 hrs ago</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="text-center">
                <a href="#" class="btn btn-primary btn-block">See all notifications</a>
            </div>
        </div>
    </div>
</li>
<li class="nav-item"> 
    <div class="dropdown hovered">
        <a class="btn dropdown-toggle" href="#" role="button" id="dd1"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="~/Themes/Lepton/Global/Assets/Imgs/avatar.jpg" width="21" class="user-avatar">
            <span>User Name</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd1" style="min-width: 240px;"> 
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</li> 