@page
@using Microsoft.Extensions.Localization
@using FS.CmsKitManagement.Localization
@model FS.CmsKitManagement.Web.Pages.CmsKitManagement.IndexModel
@inject IStringLocalizer<CmsKitManagementResource> L
@{
}
<h1>CmsKitManagement</h1>
<p>@L["SamplePageMessage"]</p>
