// FOOTER
/* ~ */
/* ---------- FOOTER STYLES - START */
.lp-footer {
    font-size: .9em;
    color: $global-text;
    background: rgba($global-bg, .35);
    padding: $grid*2/3;
    transition: .2s all;
    height: 52px;
    opacity: .75;

    a {
        color: $global-text;

        &.btn-link {
            color: $global-text;
        }

        opacity: .6;

        &:hover {
            opacity: 1;
            text-decoration: none;
        }
    }

    span.text-muted {
        opacity: .15;
    }
}
.stickyFooter {
    padding-bottom: 60px;
    .lp-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        z-index: 1;
    }
}
/* ---------- FOOTER STYLES - END */
/* ~ */